<section id="{% if page.lang=='en' %}contracting-authority{% elsif page.lang=='fr' %}maitrise-ouvrage-moa{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}CONTRACTING AUTHORITY{% elsif page.lang=="fr" %}AMOA{% endif %}</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <div class="box">
                <p>?</p>
            </div>
        </div>
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">Structuration et Pilotage de Projet</a></li>
                <li><a href="#" class="button fit icon solid">&Eacute;laboration de Cahier des Charge</a></li>
            </ul>
        </div>
    </div>
</section>
