<section id="{% if page.lang=='en' %}dependability{% elsif page.lang=='fr' %}surete-de-fonctionnement{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}DEPENDABILITY{% elsif page.lang=="fr" %}S&Ucirc;RET&Eacute; DE FONCTIONNEMENT{% endif %}</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <div class="box">
                <p>Maîtriser le comportement prévisionnel ou opérationnel d’équipements et d’installation selon les axes FMDS ainsi que leurs coûts complets d’exploitation</p>
            </div>
        </div>
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">Etude de fiabilité</a></li>
                <li><a href="#" class="button fit icon solid">Diagnostic de défaillances</a></li>
            </ul>
        </div>
    </div>
</section>
