<section id="deployment-support" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}DEPENDABILITY{% elsif page.lang=="fr" %}S&Ucirc;RET&Eacute; DE FONCTIONNEMENT{% endif %}</h2>
    </header>
    <p>Maîtriser le comportement prévisionnel ou opérationnel d’équipements et d’installation selon les axes FMDS ainsi que leurs coûts complets d’exploitation</p>
    <ul>
        <li>Expertise technique de défaillance et identification des causes premières</li>
        <li>Résolution de dysfonctionnements aléatoires, fugitifs, récurrents</li>
        <li>Spécifications d’implantation, réseaux, flux, exploitation (phase APD / AFG)</li>
        <li>Etude de fiabilité prévisionnelle ou opérationnelle, amélioration FMDS par des  mesures de défense en profondeur</li>
    </ul>
</section>
