<section id="{% if page.lang=='en' %}efficiency{% elsif page.lang=='fr' %}efficience{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}EFFICIENCY{% elsif page.lang=="fr" %}EFFICIENCE{% endif %}</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">Diagnostic Stratégique</a></li>
                <li><a href="#" class="button fit icon solid">Diagnostic Technico-Economique</a></li>
                <li><a href="#" class="button fit icon solid">Amélioration de procédés</a></li>
                <li><a href="#" class="button fit icon solid fa-chart">Audit de Performance</a></li>
            </ul>
        </div>
        <div class="col-6 col-12-small">
            <div class="box">
                <p>Prévoir ou améliorer la performance court, moyen et long terme d’une entreprise, d’une activité, d’une fonction ou d’un projet</p>
            </div>
        </div>
    </div>
</section>
