<section id="{% if page.lang=='en' %}efficiency{% elsif page.lang=='fr' %}efficience{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}EFFICIENCY{% elsif page.lang=="fr" %}EFFICIENCE{% endif %}</h2>
    </header>
    <p>Prévoir ou améliorer la performance court, moyen et long terme d’une entreprise, d’une activité, d’une fonction ou d’un projet</p>
    <ul>
        <li>Formalisation d’une stratégie et des objectifs associés, structuration de tableaux de bords et élaboration d’indicateurs, identification des contributeurs</li>
        <li>Elaboration et évaluation des options, choix technologiques et organisationnels</li>
        <li>Amélioration de procédés</li>
        <li>Audit de performances, définition des axes de progrès</li>
        <li>Etude de l’adéquation et criticité des ressources / activités / résultats</li>
        <li>Evaluation de projet d’investissement industriel de renouvellement ou de croissance</li>
        <li>Accompagnement dans l’exploitation des systèmes en termes d’efficience et de sûreté de fonctionnement</li>
    </ul>
</section>

<section id="vos-besoins">
    <header class="major">
        <h2>Vos Besoins</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">Mettre en œuvre</a></li>
                <li><a href="#" class="button fit icon solid fa-recycle">Renouvellement des équipement</a></li>
                <li><a href="#" class="button fit icon solid">Organiser l’acquisition</a></li>
                <li><a href="#" class="button fit icon solid fa-stamp">Garantir les performances</a></li>
                <li><a href="#" class="button fit icon solid fa-chart">Améliorer la performance</a></li>
                <li><a href="#" class="button fit primary icon solid">Répondre à des obligations</a></li>
                <li><a href="#" class="button fit icon solid">Résoudre des dysfonctionnements</a></li>
            </ul>
        </div>
        <div class="col-6 col-12-small">
            <h2 style="position: relative; top: 30%;">Répondre à des obligations légales ou réglementaires<br>en termes de sécurité des équipements et installations</h2>
        </div>
    </div>
</section>
<section id="mes-competences" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>Mes Compétences</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <h2 style="position: relative; top: 30%;">Gestion de Projet<br>Assistance Maîtrise d’Ouvrage<br>Elaboration de Cahier des Charges<br>Spécifications de Besoins, essais et recette</h2>
        </div>
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">Diagnostic Stratégique</a></li>
                <li><a href="#" class="button fit icon solid">Diagnostic Technico-Economique</a></li>
                <li><a href="#" class="button fit icon solid">Gestion de Projet</a></li>
                <li><a href="#" class="button primary fit icon solid">Assistance Maîtrise d’Ouvrage</a></li>
                <li><a href="#" class="button fit icon solid fa-chart">Gestion des Risques</a></li>
                <li><a href="#" class="button fit icon solid">Audit de Performance</a></li>
                <li><a href="#" class="button fit icon solid">Diagnostic de défaillances</a></li>
            </ul>
        </div>
    </div>
</section>