<section id="maintenance" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}MAINTENANCE{% elsif page.lang=="fr" %}MAINTENANCE{% endif %}</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <div class="box">
                <p>Développer la fonction en tant que levier de rentabilité de l’entreprise</p>
            </div>
        </div>
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">Définition d’une stratégie et d’une politique de maintenance</a></li>
                <li><a href="#" class="button fit icon solid">Audit de maturité et performance de la fonction Maintenance</a></li>
                <li><a href="#" class="button fit icon solid">Analyse et résolution de défaillances</a></li>
                <li><a href="#" class="button fit icon solid">Amélioration de la disponibilité des moyens</a></li>
                <li><a href="#" class="button fit icon solid">Réduction des coûts directs et indirects</a></li>
                <li><a href="#" class="button fit icon solid">Optimisation préventif / correctif</a></li>
    			<li><a href="#" class="button fit icon solid">Optimisation technico économique de la fonction maintenance</a></li>
            </ul>
        </div>
    </div>
</section>
