<section id="maintenance" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}MAINTENANCE{% elsif page.lang=="fr" %}MAINTENANCE{% endif %}</h2>
    </header>
    <p>Organiser pour garantir la disponibilité des équipements et infrastructures</p>
    <ul>
        <li>Formalisation d’une stratégie et des objectifs associés</li>
        <li>Structuration de tableaux de bords et élaboration d’indicateurs, identification des contributeurs</li>
        <li>Structuration et pilotage de projet de réorganisation industrielle, production, maintenance  industrielle, SAV, etc.</li>
    </ul>
</section>
