<section id="{% if page.lang=='en' %}risk-management{% elsif page.lang=='fr' %}gestion-des-risques{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}RISK MANAGEMENT{% elsif page.lang=="fr" %}GESTION DES RISQUES{% endif %}</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">Identifier et cartographier les risques matériels et immatériels</a></li>
                <li><a href="#" class="button fit icon solid">&Eacute;valuer les risques, les hiérarchiser et les réduire</a></li>
                <li><a href="#" class="button fit icon solid">Gérer les risques résiduels</a></li>
                <li><a href="#" class="button fit icon solid">Mettre en œuvre des stratégies de défense en profondeur</a></li>
                <li><a href="#" class="button fit icon solid">Développer des méthodes structurées de maîtrise des risques</a></li>
                <li><a href="#" class="button fit icon solid">Traiter les micro-risques et les méso risques</a></li>
            </ul>
        </div>
        <div class="col-6 col-12-small">
            <div class="box">
                <p>Prévoir, maîtriser et gérer les risques d’une organisation, d’une activité ou d’un projet et définir un plan de continuité d’activité PCA</p>
            </div>
        </div>
    </div>
</section>
