<section id="{% if page.lang=='en' %}risk-management{% elsif page.lang=='fr' %}gestion-des-risques{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}RISK MANAGEMENT{% elsif page.lang=="fr" %}GESTION DES RISQUES{% endif %}</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li>
                    <a href="#" class="button fit icon solid">
                        {% if page.lang=="en" %}
                        Identifying and mapping risks
                        {% elsif page.lang=="fr" %}
                        Identifier et cartographier les risques matériels et immatériels
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="#" class="button fit icon solid">
                        {% if page.lang=="en" %}
                        Responding to incidents
                        {% elsif page.lang=="fr" %}
                        Répondre aux incidents
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="#" class="button fit icon solid">
                        {% if page.lang=="en" %}
                        Manage residual risks
                        {% elsif page.lang=="fr" %}
                        Gérer les risques résiduels
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="#" class="button fit icon solid">
                        {% if page.lang=="en" %}
                        Implement defense in depth
                        {% elsif page.lang=="fr" %}
                        Mettre en œuvre des stratégies de défense en profondeur
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="#" class="button fit icon solid">
                        {% if page.lang=="en" %}
                        Design of tools and systems
                        {% elsif page.lang=="fr" %}
                        Développer des méthodes structurées de maîtrise des risques
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-12-small">
            <div class="box">
                <p>
                    {% if page.lang=="en" %}
                    Business continuity planning
                    {% elsif page.lang=="fr" %}
                    Prévoir, maîtriser et gérer les risques d’une organisation, d’une activité ou d’un projet et définir un plan de continuité d’activité PCA
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</section>
