<section id="{% if page.lang=='en' %}risk-management{% elsif page.lang=='fr' %}gestion-des-risques{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}RISK MANAGEMENT{% elsif page.lang=="fr" %}GESTION DES RISQUES{% endif %}</h2>
    </header>
    <p>Cartographier, réduire et gérer les risques d’une activité, d’un projet ou d’une entreprise et élaborer un plan de continuité d’activité</p>
    <ul>
        <li>Cartographie et analyse / réduction / gestion de risques par une approche combinée de défenseur en profondeur et approche par les atteintes, concernant une granulométrie étendue micro/méso risques (santé sécurité au travail, risques d’entreprise, risques industriels, risques projet, plan de continuité d’activité)</li>
        <li>Etudes spécifiques de Sûreté de Fonctionnement des systèmes sociotechniques telles AMDEC (Produit, Procédé, Moyen), APR, ADD, etc.</li>
    </ul>
</section>
