<section id='{% if page.lang=="en" %}achievements{% elsif page.lang=="fr" %}realisations-clefs{% endif %}' class="{{ include.class | default: nil }}">
    <header class="major">
        {% if page.lang=="en" %}
        <h2>ACHIEVEMENTS</h2>
        {% elsif page.lang=="fr" %}
        <h2>Réalisations Clefs</h2>
        {% endif %}
    </header>
    <div class="box alt">
        <div class="row gtr-50 gtr-uniform">
        {% for achievement in site.achievements %}
        {% if achievement.tags contains include.tag %}
            <div class="col-3">
                <article>
                    <a href="{{ achievement.url | absolute_url }}" class="image">
                        <img class="lazy-loading" src="{{ achievement.image.placeholder | absolute_url }}" data-src="{{ achievement.image.content | absolute_url }}" alt="" width="200" height="200" />
                    </a>
                    <h3>{{ achievement.title }}</h3>
                    <p>{{ achievement.summary }}</p>
                    {{ achievement.content }}
                    <ul class="actions">
                        <li><a href="#" class="button">{% if page.lang=="en" %}More{% elsif page.lang=="fr" %}Plus{% endif %}</a></li>
                    </ul>
                </article>
            </div>
        {% endif %}
        {% endfor %}
        </div>
    </div>
</section>