<section id="{% if page.lang=='en' %}certifications{% elsif page.lang=='fr' %}references{% endif %}" style="{{ include.style | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}CERTIFICATIONS{% elsif page.lang=="fr" %}Références{% endif %}</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon ensem"></span>
            <div class="content">
                <h3>ENSEM</h3>
                <p>Diplôme d'ingénieur</p>
            </div>
        </article>
        <article>
            <span class="icon eisti"></span>
            <div class="content">
                <h3>EISTI</h3>
                <p>Mastère Spécialisé en Gestion des Risques sur les territoires</p>
            </div>
        </article>
        <article>
            <span class="icon uca"></span>
            <div class="content">
                <h3>UCA</h3>
                <p>Diplôme universitaire en expertise judiciaire</p>
            </div>
        </article>
        <article>
            <span class="icon ifg"></span>
            <div class="content">
                <h3>IFG</h3>
                <p>MBA en Gestion et Management Stratégique d’Entreprise</p>
            </div>
        </article>
        <article>
            <span class="icon ub"></span>
            <div class="content">
                <h3>UB</h3>
                <p>Capacité en droit</p>
                <p>Enseignant en Ecole d'Ingénieur</p>
            </div>
        </article>
        <article>
            <span class="icon cie"></span>
            <div class="content">
                <h3>CIECAP</h3>
                <p>Membre de la Compagnie des Ingénieurs Experts près de la Cour d'Appel de Paris</p>
            </div>
        </article>
        <article>
            <span class="icon cnefic"></span>
            <div class="content">
                <h3>CNEFIC</h3>
                <p>Membre de la Compagnie Nationale des Experts de Justice Frigorifique Isolation Climatique</p>
            </div>
        </article>
        <article>
            <span class="icon marine"></span>
            <div class="content">
                <h3>Marine Nationale</h3>
                <p>BS électrotechnique<br/>
                CS instrumention<br/>
                Licence électricité, electronique et automatisme</p>
            </div>
        </article>
    </div>
</section>
