{% if page.lang=="en" %}
<section id="{% if page.lang=='en' %}certifications{% elsif page.lang=='fr' %}references{% endif %}">
    <header class="major">
        <h2>Certifications</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon ensem"></span>
            <div class="content">
                <h3>ENSEM</h3>
                <p>Diplôme d'ingénieur</p>
            </div>
        </article>
        <article>
            <span class="icon eisti"></span>
            <div class="content">
                <h3>EISTI</h3>
                <p>Mastère Spécialisé en Gestion des Risques sur les territoires</p>
            </div>
        </article>
        <article>
            <span class="icon ieam"></span>
            <div class="content">
                <h3>IEAM</h3>
                <p>?</p>
            </div>
        </article>
        <article>
            <span class="icon ifg"></span>
            <div class="content">
                <h3>IFG</h3>
                <p>MBA en Gestion et Management Stratégique d’Entreprise</p>
            </div>
        </article>
        <article>
            <span class="icon ub"></span>
            <div class="content">
                <h3>UB</h3>
                <p>Capacité en droit</p>
            </div>
        </article>
        <article>
            <span class="icon cie"></span>
            <div class="content">
                <h3>CIECAP</h3>
                <p>Membre de la Compagnie des Ingénieurs Experts près de la Cour d'Appel de Paris</p>
            </div>
        </article>
        <article>
            <span class="icon cnefic"></span>
            <div class="content">
                <h3>CNEFIC</h3>
                <p>Experts certifié dans le Génie frigorifique, le Génie climatique, le domaine des pompes à chaleur, les transports frigorifiques et l’isolation</p>
            </div>
        </article>
        <article>
            <span class="icon marine"></span>
            <div class="content">
                <h3>Marine Nationale</h3>
                <p>Diplôme d'électricien</p>
            </div>
        </article>
    </div>
</section>
{% elsif page.lang=="fr" %}
<section id="certifications">
    <header class="major">
        <h2>Références</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon ensem"></span>
            <div class="content">
                <h3>ENSEM</h3>
                <p>Diplôme d'ingénieur</p>
            </div>
        </article>
        <article>
            <span class="icon eisti"></span>
            <div class="content">
                <h3>EISTI</h3>
                <p>Mastère Spécialisé en Gestion des Risques sur les territoires</p>
            </div>
        </article>
        <article>
            <span class="icon ieam"></span>
            <div class="content">
                <h3>IEAM</h3>
                <p>?</p>
            </div>
        </article>
        <article>
            <span class="icon ifg"></span>
            <div class="content">
                <h3>IFG</h3>
                <p>MBA en Gestion et Management Stratégique d’Entreprise</p>
            </div>
        </article>
        <article>
            <span class="icon ub"></span>
            <div class="content">
                <h3>UB</h3>
                <p>Capacité en droit</p>
            </div>
        </article>
        <article>
            <span class="icon cie"></span>
            <div class="content">
                <h3>CIECAP</h3>
                <p>Membre de la Compagnie des Ingénieurs Experts près de la Cour d'Appel de Paris</p>
            </div>
        </article>
        <article>
            <span class="icon cnefic"></span>
            <div class="content">
                <h3>CNEFIC</h3>
                <p>Experts certifié dans le Génie frigorifique, le Génie climatique, le domaine des pompes à chaleur, les transports frigorifiques et l’isolation</p>
            </div>
        </article>
        <article>
            <span class="icon marine"></span>
            <div class="content">
                <h3>Marine Nationale</h3>
                <p>Diplôme d'électricien, 11 ans d'expérience</p>
            </div>
        </article>
    </div>
</section>
{% endif %}