<section>
    {% if page.lang=="en" %}
    <header class="major">
        <h2>They trust me</h2>
    </header>
    {% elsif page.lang=="fr" %}
    <header class="major">
        <h2>Is me font Confiance</h2>
    </header>
    {% endif %}
    <div class="box alt">
        <div class="row gtr-50 gtr-uniform">
            <div class="col-4"><span class="image fit"><img src="{{ '/assets/images/clients/aed_icon.png' | absolute_url }}" alt="" /></span></div>
            <div class="col-4"><span class="image fit"><img src="{{ '/assets/images/clients/orano_icon.png' | absolute_url }}" alt="" /></span></div>
            <div class="col-4"><span class="image fit"><img src="{{ '/assets/images/clients/benning.png' | absolute_url }}" alt="" /></span></div>
            <!-- Break -->
            <div class="col-4"><span class="image fit"><img src="{{ '/assets/images/clients/mmp_icon.png' | absolute_url }}" alt="" /></span></div>
            <div class="col-4"><span class="image fit"><img src="{{ '/assets/images/clients/sealed-air_icon.png' | absolute_url }}" alt="" /></span></div>
        </div>
    </div>
</section>