<section id="clients" class="{{ include.class | default: nil }}">
    {% if page.lang=="en" %}
    <header class="major">
        <h2>THEY TRUST ME</h2>
    </header>
    {% elsif page.lang=="fr" %}
    <header class="major">
        <h2>Ils me font Confiance</h2>
    </header>
    {% endif %}
    <div class="box alt">
        <div class="row gtr-50 gtr-uniform">
            <div class="col-1"><span class="image fit"><img class="lazy-loading" src="{{ '/assets/images/placeholder/clients/orano_icon.png' | absolute_url }}" data-src="{{ '/assets/images/content/clients/orano_icon.png' | absolute_url }}" title="Orano" alt="" /></span></div>
            <div class="col-1"><span class="image fit"><img class="lazy-loading" src="{{ '/assets/images/placeholder/clients/mmp_icon.png' | absolute_url }}" data-src="{{ '/assets/images/content/clients/mmp_icon.png' | absolute_url }}" title="Mayr-Melnhof Packaging" alt="" /></span></div>
            <div class="col-1"><span class="image fit"><img class="lazy-loading" src="{{ '/assets/images/placeholder/clients/sealed-air_icon.png' | absolute_url }}" data-src="{{ '/assets/images/content/clients/sealed-air_icon.png' | absolute_url }}" title="Sealed Air" alt="" /></span></div>
            <div class="col-1"><span class="image fit"><img class="lazy-loading" src="{{ '/assets/images/placeholder/clients/aed_icon.png' | absolute_url }}" data-src="{{ '/assets/images/content/clients/aed_icon.png' | absolute_url }}" title="Agri Energie Dondaine" alt="" /></span></div>
            <div class="col-1"><span class="image fit"><img class="lazy-loading" src="{{ '/assets/images/placeholder/clients/benning_icon.png' | absolute_url }}" data-src="{{ '/assets/images/content/clients/benning_icon.png' | absolute_url }}" title="Benning" alt="" /></span></div>
        </div>
    </div>
</section>
