{% if page.lang=="en" %}
<section id='{% if page.lang=="en" %}context{% elsif page.lang=="fr" %}contexte{% endif %}' style="{{ include.style | default: '' }}">
    <header class="major">
        <h2>WHAT STAGE IS YOUR PROJECT ON ?</h2>
    </header>
    <div class="facts row">
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Strategy</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-chart-line on"></span>
            <div class="fact-intro off"><p>Strategy</p></div>
            <div class="fact off"><h3>?</h3></div>
            <div class="fact-outro off"><p>&nbsp;</p></div>
            <span class="icon solid fa-chart-line off"></span>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Deployment</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-chart-line on"></span>
            <div class="fact-intro off"><p>Deployment</p></div>
            <div class="fact off"><h3>?</h3></div>
            <div class="fact-outro off"><p>&nbsp;</p></div>
            <span class="icon solid fa-chart-line off"></span>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Reception</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-chart-line on"></span>
            <div class="fact-intro off"><p>Reception</p></div>
            <div class="fact off"><h3>?</h3></div>
            <div class="fact-outro off"><p>&nbsp;</p></div>
            <span class="icon solid fa-chart-line off"></span>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Operation</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-chart-line on"></span>
            <div class="fact-intro off"><p>Operation</p></div>
            <div class="fact off"><h3>?</h3></div>
            <div class="fact-outro off"><p>&nbsp;</p></div>
            <span class="icon solid fa-chart-line off"></span>
        </article>
    </div>
</section>
{% elsif page.lang=="fr" %}
<section>
    <header class="major">
        <h2>What Stage is your Project on ?</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon fa-signal"></span>
            <div class="content">
                <h3>Feasibility Study</h3>
                <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu.</p>
            </div>
        </article>
        <article>
            <span class="icon fa-paper-plane"></span>
            <div class="content">
                <h3>Deployment</h3>
                <p>Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris.</p>
            </div>
        </article>
        <article>
            <span class="icon fa-paper-plane"></span>
            <div class="content">
                <h3>Operation</h3>
                <p>Ut magna finibus nisi nec lacinia.</p>
            </div>
        </article>
    </div>
</section>
{% endif %}
