{% if page.lang=="en" %}
<section>
    <header class="major">
        <h2>HAVING A PROBLEM ?</h2>
    </header>
    <div class="facts">
        <article>
            <div class="fact-intro"><p>Under Performance</p></div>
            <div class="fact-outro"><p>Find out</p></div>
            <div class="fact"><h3>WHY</h3></div>
            <span class="icon solid fa-chart-line"></span>
        </article>
        <article>
            <div class="fact-intro"><p>Equipment Failure</p></div>
            <div class="fact-outro"><p>Get your money</p></div>
            <div class="fact"><h3>BACK</h3></div>
            <span class="icon solid fa-chart-line"></span>
        </article>
        <article>
            <div class="fact-intro"><p>Disorder</p></div>
            <div class="fact"><h3>THROUGH</h3></div>
            <div class="fact-outro"><p>The crisis</p></div>
            <span class="icon solid fa-chart-line"></span>
        </article>
        <article>
            <div class="fact-intro"><p>Litigation</p></div>
            <div class="fact-outro"><p>Have a</p></div>
            <div class="fact"><h3>FAIR</h3></div>
            <div class="fact-outro"><p>trial</p></div>
            <span class="icon solid fa-chart-line"></span>
        </article>
    </div>
</section>
{% elsif page.lang=="fr" %}
<section>
    <header class="major">
        <h2>Votre Situation</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon solid fa-chart-line"></span>
            <div class="content">
                <h3>Le Constat</h3>
                <p>Constat de sous-performances ou défaillances révélées mais d’origine et d’imputabilité inconnues ou incertaines, et/ou solutions non trouvées.</p>
            </div>
        </article>
        <article>
            <span class="icon fa-paper-plane"></span>
            <div class="content">
                <h3>Réclamation Amiable</h3>
                <p>vous avez identifié votre problème et avez réclamé à votre fournisseur sans issue probable.</p>
            </div>
        </article>
        <article>
            <span class="icon fa-paper-plane"></span>
            <div class="content">
                <h3>Mise en Demeure</h3>
                <p>Restée sans effet et vous voulez évaluer l’opportunité de poursuivre.</p>
            </div>
        </article>
        <article>
            <span class="icon fa-paper-plane"></span>
            <div class="content">
                <h3>Assignation ou Expertise Judiciaire</h3>
                <p>Vous avez besoin d’une assistance technique pour défendre vos intérêts.</p>
            </div>
        </article>
    </div>
</section>
{% endif %}
