{% if page.lang=="en" %}
<section id='{% if page.lang=="en" %}context{% elsif page.lang=="fr" %}contexte{% endif %}' class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>WHAT STAGE IS YOUR PROJECT ON ?</h2>
    </header>
    <div class="facts row">
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Strategy</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-chart-line on"></span>
            <div class="fact-intro off"><p>Strategy</p></div>
            <div class="fact off"><h3>?</h3></div>
            <div class="fact-outro off"><p>&nbsp;</p></div>
            <span class="icon solid fa-chart-line off"></span>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Deployment</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-chart-line on"></span>
            <div class="fact-intro off"><p>Deployment</p></div>
            <div class="fact off"><h3>?</h3></div>
            <div class="fact-outro off"><p>&nbsp;</p></div>
            <span class="icon solid fa-chart-line off"></span>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Reception</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-chart-line on"></span>
            <div class="fact-intro off"><p>Reception</p></div>
            <div class="fact off"><h3>?</h3></div>
            <div class="fact-outro off"><p>&nbsp;</p></div>
            <span class="icon solid fa-chart-line off"></span>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Operation</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-chart-line on"></span>
            <div class="fact-intro off"><p>Operation</p></div>
            <div class="fact off"><h3>?</h3></div>
            <div class="fact-outro off"><p>&nbsp;</p></div>
            <span class="icon solid fa-chart-line off"></span>
        </article>
    </div>
</section>
{% elsif page.lang=="fr" %}
<section id='{% if page.lang=="en" %}context{% elsif page.lang=="fr" %}contexte{% endif %}' class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>Votre Projet</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon fa-signal"></span>
            <div class="content">
                <h3>Réflexion Stratégique</h3>
                <p>Avant-Projet Sommaire<br/>
                Evaluation technico-économique et prise de décision<br/>
                Consultation de prestataires</p>
            </div>
        </article>
        <article>
            <span class="icon fa-paper-plane"></span>
            <div class="content">
                <h3>Déploiement</h3>
                <p>D'un projet<br/>
                Installation d’équipements<br/>
                Mise au point<br/>
                Mise en service</p>
            </div>
        </article>
        <article>
            <span class="icon fa-paper-plane"></span>
            <div class="content">
                <h3>Réception</h3>
                <p>D’équipements<br/>
                Mise en production<br/>
                Ou exploitation.</p>
            </div>
        </article>
        <article>
            <span class="icon fa-paper-plane"></span>
            <div class="content">
                <h3>Exploitation</h3>
                <p>Courante<br/>
                Démantèlement</p>
            </div>
        </article>
    </div>
</section>
{% endif %}
