<section>
    <header class="major">
        <h2>Having a Problem ?</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon fa-signal"></span>
            <div class="content">
                <h3>Equipment Failure</h3>
                <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu.</p>
            </div>
        </article>
        <article>
            <span class="icon fa-paper-plane"></span>
            <div class="content">
                <h3>Under Performance</h3>
                <p>Proin aliquam facilisis ante interdum congue.</p>
            </div>
        </article>
        <article>
            <span class="icon fa-paper-plane"></span>
            <div class="content">
                <h3>Disorder</h3>
                <p>Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris.</p>
            </div>
        </article>
        <article>
            <span class="icon fa-paper-plane"></span>
            <div class="content">
                <h3>Litigation</h3>
                <p>Ut magna finibus nisi nec lacinia.</p>
            </div>
        </article>
    </div>
</section>

<section id="equipment-failure">
    <header class="major">
        <h2>Equipment Failure</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
</section>

<section id="under-performance">
    <header class="major">
        <h2>Under Performance</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
</section>

<section id="disorder">
    <header class="major">
        <h2>Disorder</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
</section>

<section id="litigation">
    <header class="major">
        <h2>Litigation</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
</section>

<section id="constat">
    <header class="major">
        <h2>Constat</h2>
    </header>
    <ul>
        <li>Identifier des causes de dysfonctionnement ou de non-performances.</li>
        <li>Résoudre une panne aléatoire, fugitive, récurrente.</li>
        <li>Chiffrer un préjudice.</li>
    </ul>
</section>

<section id="reclamation">
    <header class="major">
        <h2>Réclamation</h2>
    </header>
    <ul>
        <li>Définir les travaux de reprise de désordres, non-conformités, malfaçons.</li>
    </ul>
</section>

<section id="mise-en-demeure">
    <header class="major">
        <h2>Mise en Demeure</h2>
    </header>
    <ul>
        <li>Définir les travaux de reprise de désordres, non-conformités, malfaçons.</li>
    </ul>
</section>

<section id="action-en-justice">
    <header class="major">
        <h2>Action en Justice</h2>
    </header>
    <ul>
        <li>Négocier une issue amiable d’un litige pendant.</li>
        <li>Appui technique dans le cadre d’un désaccord sur les performances d’un système livré ou d’un litige technique avec un fournisseur.</li>
    </ul>
</section>

<section>
    <header class="major">
        <h2>Votre Situation</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon fa-signal"></span>
            <div class="content">
                <h3>Le Constat</h3>
                <p>Constat de sous-performances ou défaillances révélées mais d’origine et d’imputabilité inconnues ou incertaines, et/ou solutions non trouvées.</p>
            </div>
        </article>
        <article>
            <span class="icon fa-paper-plane"></span>
            <div class="content">
                <h3>Réclamation Amiable</h3>
                <p>vous avez identifié votre problème et avez réclamé à votre fournisseur sans issue probable.</p>
            </div>
        </article>
        <article>
            <span class="icon fa-paper-plane"></span>
            <div class="content">
                <h3>Mise en Demeure</h3>
                <p>Restée sans effet et vous voulez évaluer l’opportunité de poursuivre.</p>
            </div>
        </article>
        <article>
            <span class="icon fa-paper-plane"></span>
            <div class="content">
                <h3>Assignation ou Expertise Judiciaire</h3>
                <p>Vous avez besoin d’une assistance technique pour défendre vos intérêts.</p>
            </div>
        </article>
    </div>
</section>