{% if page.lang=="en" %}
<section id="{% if page.lang=="en" %}context{% elsif page.lang=="fr" %}contexte{% endif %}"  class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>HAVING A PROBLEM ?</h2>
    </header>
    <div class="facts row">
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Under Performance</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-chart-area on"></span>
            <div class="fact-intro off"><p>Find out</p></div>
            <div class="fact off"><h3>WHY</h3></div>
            <div class="fact-outro off"><p>you're losing money!</p></div>
            <span class="icon solid fa-search-dollar off"></span>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Equipment Failure</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-car-crash on"></span>
            <div class="fact-intro off"><p>Get</p></div>
            <div class="fact off"><h3>BACK</h3></div>
            <div class="fact-outro off"><p>your money!</p></div>
            <span class="icon solid fa-money-bill-alt off"></span>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Disorder</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-exclamation-triangle on"></span>
            <div class="fact-intro off"><p>Go</p></div>
            <div class="fact off"><h3>THROUGH</h3></div>
            <div class="fact-outro off"><p>the crisis!</p></div>
            <span class="icon solid fa-route off"></span>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Litigation</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-gavel on"></span>
            <div class="fact-intro off"><p>Have a</p></div>
            <div class="fact off"><h3>FAIR</h3></div>
            <div class="fact-outro off"><p>trial!</p></div>
            <span class="icon solid fa-balance-scale off"></span>
        </article>
    </div>
</section>
{% elsif page.lang=="fr" %}
<section id="contexte" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>Votre Situation</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon solid fa-exclamation"></span>
            <div class="content">
                <h3>Le Constat</h3>
                <p>D'insatisfaction de vos attentes, de sous-performances ou défaillances révélées mais d'origine et d'imputabilité inconnues ou incertaines, et / ou solutions non trouvées.</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-undo"></span>
            <div class="content">
                <h3>Réclamation Amiable</h3>
                <p>Vous avez cerné, identifié votre problème et avez réclamé à votre fournisseur sans issue probable.</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-stamp"></span>
            <div class="content">
                <h3>Mise en Demeure</h3>
                <p>Restée sans effet et vous voulez avoir une idée de l'opportunité de poursuivre.</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-gavel"></span>
            <div class="content">
                <h3>Assignation ou Expertise Judiciaire</h3>
                <p>Vous avez besoin d'une assistance technique pour défendre vos intérêts.</p>
            </div>
        </article>
    </div>
</section>
<section id='services' class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>Mes Services</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon solid fa-search-dollar"></span>
            <div class="content">
                <h3>Expertise Officieuse</h3>
                <p>Formaliser le bien-fondé d'une réclamation ou d'un litige, évaluer l'opportunité de poursuivre, trouver les options de solution amiable.</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-handshake"></span>
            <div class="content">
                <h3>Expertise Amiable</h3>
                <p>Résoudre avec les parties prenantes les difficultés rencontrées dans le cadre d'un litige, fournir la base technique d'un protocole transactionnel.</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-balance-scale"></span>
            <div class="content">
                <h3>Expertise Judiciaire</h3>
                <p>Défendre votre point de vue, mettre en lumière les désordres, argumenter et chiffrer votre réclamation, combattre les arguments adverses.</p>
            </div>
        </article>
    </div>
</section>
{% endif %}
