<section>
    <header class="major">
        {% if page.lang=="en" %}
        <h2>Get in touch</h2>
        {% else %}
        <h2>Demandez Conseil</h2>
        {% endif %}
    </header>
    <div class="row gtr-200">
        <div class="col-6 col-12-medium">
            <form method="post" action="#">
                <div class="row gtr-uniform">
                    <div class="col-6 col-12-xsmall">
                        {% if page.lang=="en" %}
                        <input type="text" name="cta-name" id="cta-name" value="" placeholder="Name" />
                        {% else %}
                        <input type="text" name="cta-name" id="cta-name" value="" placeholder="Nom" />
                        {% endif %}
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <input type="email" name="cta-email" id="cta-email" value="" placeholder="Email" />
                    </div>
                    <!-- Break -->
                    <div class="col-12">
                        {% if page.lang=="en" %}
                        <textarea name="cta-message" id="cta-message" placeholder="Enter your message" rows="6">Please get back to me!</textarea>
                        {% else %}
                        <textarea name="cta-message" id="cta-message" placeholder="Tappez votre message" rows="6">Merci de me contacter par retour de mail.</textarea>
                        {% endif %}
                    </div>
                    <!-- Break -->
                    <div class="col-12">
                        <ul class="actions">
                            {% if page.lang=="en" %}
                            <li><input type="submit" value="Send Message" class="primary button solid fa-envelope" /></li>
                            <li><input type="reset" value="Reset" class="icon button fa-undo" /></li>
                            {% else %}
                            <li><input type="submit" value="Envoyer" class="primary button solid fa-envelope" /></li>
                            <li><input type="reset" value="Annuler" class="icon button fa-undo" /></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-6 col-12-medium">
            <ul class="contact">
                <li class="icon solid fa-envelope"><a href="#">{{ site.email }}</a></li>
                <li class="icon solid fa-phone">{{ site.phone }}</li>
                <li class="icon solid fa-home">{{ site.street_address }}<br />
                {{ site.zip_code }}, {{ site.city }}</li>
            </ul>
        </div>
    </div>
</section>