
<section id="efficiency">
    <header class="major">
        <h2>Efficiency</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
</section>

<section id="dependability">
    <header class="major">
        <h2>Dependability</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
</section>

<section id="risk-management">
    <header class="major">
        <h2>Risk Management</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
</section>

<section id="efficience">
    <header class="major">
        <h2>Efficience</h2>
    </header>
    <ul>
        <li>Formalisation d’une stratégie et des objectifs associés, structuration de tableaux de bords et élaboration d’indicateurs, identification des contributeurs</li>
        <li>Elaboration et évaluation des options, choix technologiques et organisationnels</li>
        <li>Amélioration de procédés</li>
        <li>Audit de performances, définition des axes de progrès</li>
        <li>Etude de l’adéquation et criticité des ressources / activités / résultats</li>
        <li>Evaluation de projet d’investissement industriel de renouvellement ou de croissance</li>
        <li>Accompagnement dans l’exploitation des systèmes en termes d’efficience et de sûreté de fonctionnement</li>
    </ul>
</section>

<section id="maintenance">
    <header class="major">
        <h2>Maintenance</h2>
    </header>
    <ul>
        <li>Formalisation d’une stratégie et des objectifs associés</li>
        <li>Structuration de tableaux de bords et élaboration d’indicateurs, identification des contributeurs</li>
        <li>Structuration et pilotage de projet de réorganisation industrielle, production, maintenance  industrielle, SAV, etc.</li>
    </ul>
</section>

<section id="surete-de-fonctionnement">
    <header class="major">
        <h2>Sûreté de Fonctionnement</h2>
    </header>
    <ul>
        <li>Expertise technique de défaillance et identification des causes premières</li>
        <li>Résolution de dysfonctionnements aléatoires, fugitifs, récurrents</li>
        <li>Spécifications d’implantation, réseaux, flux, exploitation (phase APD / AFG)</li>
        <li>Etude de fiabilité prévisionnelle ou opérationnelle, amélioration FMDS par des  mesures de défense en profondeur</li>
    </ul>
</section>

<section id="gestion-des-risques">
    <header class="major">
        <h2>Gestion des Risques</h2>
    </header>
    <ul>
        <li>Cartographie et analyse / réduction / gestion de risques par une approche combinée de     défenseur en profondeur et approche par les atteintes, concernant une granulométrie étendue micro/méso risques (santé sécurité au travail, risques d’entreprise, risques industriels, risques     projet, plan de continuité d’activité)</li>
        <li>Etudes spécifiques de Sûreté de Fonctionnement des systèmes sociotechniques telles AMDEC (Produit, Procédé, Moyen), APR, ADD, etc.</li>
    </ul>
</section>

<section id="maitrise-ouvrage">
    <header class="major">
        <h2>Maîtrise d'Ouvrage</h2>
    </header>
    <p></p>
</section>
