{% if page.lang=="en" %}
<section id="expertise" style="{{ include.style | default: nil }}">
    <header class="major">
        <h2>I'm an Independent Expert in</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon fa-signal"></span>
            <div class="content">
                <h3>Pompes à Chaleur</h3>
            </div>
        </article>
        <article>
            <span class="icon fa-signal"></span>
            <div class="content">
                <h3>Photovoltaïque</h3>
            </div>
        </article>
        <article>
            <span class="icon fa-signal"></span>
            <div class="content">
                <h3>Usine de Méthanisation</h3>
            </div>
        </article>
        <article>
            <span class="icon fa-signal"></span>
            <div class="content">
                <h3>Chaudière à Bois et Granulés</h3>
            </div>
        </article>
        <article>
            <span class="icon fa-signal"></span>
            <div class="content">
                <h3>Station de Traitement de l'Eau Potable</h3>
            </div>
        </article>
        <article>
            <span class="icon fa-signal"></span>
            <div class="content">
                <h3>Sureté de Fonctionnement</h3>
                Décrire les liens de causalité entre les désordres constatés et les faits
            </div>
        </article>
    </div>
</section>
{% elsif page.lang=="fr" %}
<section id="savoir-faire" style="{{ include.style | default: nil }}">
    <header class="major">
        <h2>Je suis Expert Indépendant en</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon fa-signal"></span>
            <div class="content">
                <h3>Pompes à Chaleur</h3>
            </div>
        </article>
        <article>
            <span class="icon fa-signal"></span>
            <div class="content">
                <h3>Photovoltaïque</h3>
            </div>
        </article>
        <article>
            <span class="icon fa-signal"></span>
            <div class="content">
                <h3>Usine de Méthanisation</h3>
            </div>
        </article>
        <article>
            <span class="icon fa-signal"></span>
            <div class="content">
                <h3>Chaudière à Bois et Granulés</h3>
            </div>
        </article>
        <article>
            <span class="icon fa-signal"></span>
            <div class="content">
                <h3>Station de Traitement de l'Eau Potable</h3>
            </div>
        </article>
        <article>
            <span class="icon fa-signal"></span>
            <div class="content">
                <h3>Sureté de Fonctionnement</h3>
                Décrire les liens de causalité entre les désordres constatés et les faits
            </div>
        </article>
    </div>
</section>
{% endif %}
