<section {% if page.lang=="en" %}id="expertise"{% elsif page.lang=="fr" %}id="savoir-faire"{% endif %}  class="{{ include.class | default: nil }}">
    <header class="major">
        {% if page.lang=="en" %}
        <h2>I'M AN INDEPENDANT EXPERT IN</h2>
        {% elsif page.lang=="fr" %}
        <h2>Je suis Expert Indépendant en</h2>
        {% endif %}
    </header>
    <div class="features row">
        <article class="col-4 col-6-medium col-12-small">
            <span class="icon solid fa-thermometer-half"></span>
            <div class="content">
                <h3>Pompes à Chaleur</h3>
            </div>
        </article>
        <article class="col-4 col-6-medium col-12-small">
            <span class="icon solid fa-solar-panel"></span>
            <div class="content">
                <h3>Photovoltaïque</h3>
            </div>
        </article>
        <article class="col-4 col-6-medium col-12-small">
            <span class="icon solid fa-trash-restore"></span>
            <div class="content">
                <h3>Usine de Méthanisation</h3>
            </div>
        </article>
        <article class="col-4 col-6-medium col-12-small">
            <span class="icon solid fa-fire"></span>
            <div class="content">
                <h3>Chaudière à Bois et Granulés</h3>
            </div>
        </article>
        <article class="col-4 col-6-medium col-12-small">
            <span class="icon solid fa-recycle"></span>
            <div class="content">
                <h3>Station de Traitement de l'Eau Potable</h3>
            </div>
        </article>
        <article class="col-4 col-6-medium col-12-small">
            <span class="icon solid fa-heartbeat"></span>
            <div class="content">
                <h3>Sureté de Fonctionnement</h3>
                Décrire les liens de causalité entre les désordres constatés et les faits
            </div>
        </article>
    </div>
</section>
