{% assign kpis=site.data.translations.kpi %}

<section id="kpi">
    <header class="major">
        {% if page.lang=="en" %}
        <h2>CDM'S KPI</h2>
        {% elsif page.lang=="fr" %}
        <h2>LES INDICATEURS DE PERFORMANCE DE CDM</h2>
        {% endif %}
    </header>
    <div class="facts">
        {% for kpi in kpis %}
        <article>
            <div class="fact-intro"><p>{{ kpi[page.lang].intro }}</p></div>
            <div class="fact"><h3>{{ kpi[page.lang].fact }}</h3></div>
            <div class="fact-outro"><p>{{ kpi[page.lang].outro }}</p></div>
            <span class="icon {{ kpi[page.lang].icon }}"></span>
        </article>
        {% endfor %}
    </div>
</section>