<section id="kpi">
    <header class="major">
        {% if page.lang=="en" %}
        <h2>CDM'S KPI</h2>
        {% elsif page.lang=="fr" %}
        <h2>CDM EN CHIFFRES</h2>
        {% endif %}
    </header>
    <div class="posts">
        <article>
            <p>NOUS ACCOMPAGNONS NOS CLIENTS DANS PLUS DE</p>
            <h3>5</h3>
            <p>pays</p>
            <span class="icon solid fa-map-marker"></span>
        </article>
        <article>
            <p>NOUS INTERVENONS DANS PLUS DE</p>
            <h3>10</h3>
            <p>secteurs d'activité</p>
            <span class="icon solid fa-suitcase"></span>
        </article>
        <article>
            <p>PARMIS NOS PRINCIPAUX CLIENTS</p>
            <h3>10 ?</h3>
            <p>collaborent avec nous depuis plus de 5 ans</p>
            <span class="icon solid fa-suitcase"></span>
        </article>
        <article>
            <p>NOS INTERVENTIONS SONT RENTABILISEES EN MOINS DE</p>
            <h3>1</h3>
            <p>an</p>
            <span class="icon solid fa-suitcase"></span>
        </article>
        <article>
            <p>LE RATIO GAINS/COUTS EST DE PLUS DE</p>
            <h3>1000%</h3>
            <p>en moyenne</p>
            <span class="icon solid fa-suitcase"></span>
        </article>
    </div>
</section>