<!-- Menu -->
<nav id="menu">
  <header class="major">
    <h2>Menu</h2>
  </header>
{% if page.collection == "yang" %}
  <ul>
    <li><a href="{{ '' | absolute_url }}">Home</a></li>
    <li>
      <span class="opener">Your Needs</span>
      <ul>
        <li><a href="{{ '#' | absolute_url }}">Feasibility Study</a></li>
        <li><a href="{{ '#' | absolute_url }}">Project Support</a></li>
        <li><a href="{{ '#' | absolute_url }}">Deployment Support</a></li>
        <li><a href="{{ '#' | absolute_url }}">Operation Support</a></li>
      </ul>
    </li>
    <li>
      <span class="opener">My Services</span>
      <ul>
        <li><a href="{{ '#' | absolute_url }}">Efficiency</a></li>
        <li><a href="{{ '#' | absolute_url }}">Dependability</a></li>
        <li><a href="{{ '#' | absolute_url }}">Risk Management</a></li>
      </ul>
    </li>
    <li>
      <span class="opener">About CDM</span>
      <ul>
        <li><a href="{{ '#' | absolute_url }}">Achievements</a></li>
        <li><a href="{{ '#' | absolute_url }}">Certifications</a></li>
      </ul>
    </li>
    <li><a href="{{ '' | absolute_url }}">Publications</a></li>
  </ul>
{% elsif page.collection == "yin" %}
  <ul>
    <li><a href="{{ '' | absolute_url }}">Home</a></li>
    <li>
      <span class="opener">Your Problems</span>
      <ul>
        <li><a href="{{ '#' | absolute_url }}">Equipment Failure</a></li>
        <li><a href="{{ '#' | absolute_url }}">Equipment under Performing</a></li>
        <li><a href="{{ '#' | absolute_url }}">Disorder</a></li>
        <li><a href="{{ '#' | absolute_url }}">Litigation</a></li>
      </ul>
    </li>
    <li>
      <span class="opener">My Services</span>
      <ul>
        <li><a href="{{ '#' | absolute_url }}">Mitigation</a></li>
        <li><a href="{{ '#' | absolute_url }}">Palliative Solutions</a></li>
        <li><a href="{{ '#' | absolute_url }}">Expert Assessment</a></li>
      </ul>
    </li>
    <li>
      <span class="opener">About CDM</span>
      <ul>
        <li><a href="{{ '#' | absolute_url }}">Achievements</a></li>
        <li><a href="{{ '#' | absolute_url }}">Certifications</a></li>
      </ul>
    </li>
    <li><a href="{{ '' | absolute_url }}">Publications</a></li>
  </ul>
{% else %}
  <ul>
    <li><a href="{{ 'yang' | absolute_url }}">Consulting</a></li>
    <li><a href="{{ 'yin' | absolute_url }}">Expert Assessment</a></li>
    <li><a href="{{ 'blog' | absolute_url }}">Publications</a></li>
  </ul>
{% endif %}
</nav>