<!-- Menu -->
  <nav id="menu">
    <header class="major">
      <h2>Menu</h2>
    </header>
    <ul>
      <li><a href="{{ '' | absolute_url }}">Home</a></li>
      <li>
        <span class="opener">Your Needs</span>
        <ul>
          <li><a href="{{ 'industry.html#' | absolute_url }}">Feasibility Study</a></li>
          <li><a href="{{ 'industry.html#' | absolute_url }}">Project Support</a></li>
          <li><a href="{{ 'industry.html#' | absolute_url }}">Deployment Support</a></li>
          <li><a href="{{ 'industry.html#' | absolute_url }}">Operation Support</a></li>
        </ul>
      </li>
      <li>
        <span class="opener">My Services</span>
        <ul>
          <li><a href="{{ 'energy.html#' | absolute_url }}">Efficiency</a></li>
          <li><a href="{{ 'energy.html#' | absolute_url }}">Dependability</a></li>
          <li><a href="{{ 'energy.html#' | absolute_url }}">Risk Management</a></li>
        </ul>
      </li>
      <li>
        <span class="opener">About CDM</span>
        <ul>
          <li><a href="{{ 'about.html#' | absolute_url }}">Achievements</a></li>
          <li><a href="{{ 'about.html#' | absolute_url }}">Certifications</a></li>
        </ul>
      </li>
      <li><a href="{{ 'blog.html' | absolute_url }}">Publications</a></li>
    </ul>
  </nav>