{% if page.lang=="en" %}
<section>
    <header class="major">
        <h2>About me</h2>
    </header>
    <span class="image right"><img src="{{ 'assets/images/hero/portrait.jpg' | absolute_url }}" alt="" /></span>
    <p>Ingénieur conseil à la tête du cabinet éponyme CDM, je suis spécialisé en Gestion des Risques et Efficience Industrielle.</p>
    <p>CDM est pour moi une recherche personnelle :
    <ul>
        <li>indépendance professionnelle</li>
        <li>Envie d'agir, de faire en mettant à profit la construction méthodique de mes compétences</li>
        <li>Faire ce que personne ou peu savent faire</li>
        <li>Être confronté à la difficulté, résoudre des problèmes qui semblent insolubles, innover, créer</li>
        <li>Assainir un certain nombre de secteurs d'activité</li>
        <li>Transmettre un savoir, un savoir faire, créer la curiosité</li>
        <li>Eduquer les individus au doute en commençant par le doute de soi même</li>
        <li>Approcher la vie de façon globale et scientifique</li>
        <li>La vision c'est la connaissance universelle au sens des grands scientifiques du siècle des lumières</li>
    </ul></p>
</section>
{% elsif page.lang=="fr" %}
<section>
    <header class="major">
        <h2>&Agrave; propos de Moi</h2>
    </header>
    <span class="image right"><img src="{{ 'assets/images/hero/portrait.jpg' | absolute_url }}" alt="" /></span>
    {% if include.parent contains "yang" %}
    <p><strong>Ingénieur Conseil</strong>, je suis spécialisé en <strong>Gestion des Risques</strong> et <strong>Efficience Industrielle</strong> ; par ailleurs je suis <strong>Expert Indépendant</strong>.</p>
    <p>J’ai donc deux <strong>activités complémentaires</strong> : le Conseil et l’Expertise.</p>
    <p>Le Conseil prend forme à travers <strong>trois types de missions orientées</strong> :<br />
        - l’Audit RAR (Ressources-Activités-Résultats)<br />
        - l’Assistance à projet<br />
        - la Sûreté de Fonctionnement, à destination des PME et des ETI.</p>
    <p>Une diversité, une complémentarité et une cohérence de compétences de bout en bout issues de 40 ans d’expérience dans six domaines technologiques différents associée à une formation progressive depuis l’Ecole des Mousses / Marine à Bac+6 (Ingénieur, MBA, Droit, Risk Management).</p>
    {% else %}
    <p><strong>Ingénieur conseil</strong>, je suis spécialisé en <strong>Gestion des Risques</strong> et <strong>Efficience Industrielle</strong> ; par ailleurs, je suis <strong>Expert Indépendant</strong>.</p>
    <p>J’ai donc <strong>deux activités complémentaires</strong> : le Conseil et l’Expertise.</p>
    <p>L’Expertise <strong>concerne tous les acteurs</strong> (PME, Tertiaire, Administration, Collectivités Territoriales, Particuliers) et selon le type de ceux-ci, des sujets associés, par exemple : défaillances, bris de machine, litiges…</p>
    <p>Une diversité, une complémentarité et une cohérence de compétences de bout en bout issues de 40 ans d’expérience dans six domaines technologiques différents associée à une formation progressive depuis l’Ecole des Mousses / Marine à Bac+6 (Ingénieur, MBA, Droit, Risk Management).</p>
    <p>Mes 40 années d’activité possède une colonne vertébrale qui est la maintenance au sens de la Sûreté de Fonctionnement. Cette fonction dans sa dimension corrective est le propre de l’expertise au sens large ; en effet celle-ci consiste à déterminer un dommage, identifier les causes premières, prendre des mesures conservatoires et palliatives, quantifier et planifier la résolution des désordres par des travaux de reprise adaptés, améliorer les processus et les équipements pour réduire les occurrences ou la gravité de tels événements.</p>
    {% endif %}
</section>
{% endif %}