{% if page.lang=="en" %}
<section id="strategy">
    <header class="major">
        <h2>STRATEGY</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
</section>

<section id="project-support" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>PROJECT SUPPORT</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
</section>

<section id="deployment-support">
    <header class="major">
        <h2>DEPLOYMENT SUPPORT</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
</section>

<section id="operation-support" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>OPERATION SUPPORT</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
</section>
{% elsif page.lang=="fr" %}
<section id="strategie">
    <header class="major">
        <h2>Réflexion Stratégique</h2>
    </header>
    <ul>
        <li>Faisabilité, implantation, schéma directeur d’organisation (phase APS)</li>
        <li>Quantifier les ressources et identifier les contributeurs d’une stratégie donnée et la décliner en objectifs opérationnels</li>
        <li>Evaluer la rentabilité et le ROI d’une activité ou d’un projet</li>
    </ul>
</section>

<section id="deploiement" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>Déploiement ou Démantèlement</h2>
    </header>
    <ul>
        <li>Définir une période optimale de garantie contractuelle d’équipements fabriqués et/ou délivrés</li>
    </ul>
</section>

<section id="gestion-de-projet">
    <header class="major">
        <h2>Gestion de Projet</h2>
    </header>
    <ul>
        <li>Dimensionner un projet, consulter et choisir des prestataires</li>
        <li>Piloter un projet, réceptionner les installations ou équipements correspondants</li>
        <li>Elaboration CDC applicable à la consultation d’entreprises ou élaboration de spécification de besoins (phase DCE)</li>
        <li>Aide à l’évaluation des offres et à la mise au point des marchés</li>
        <li>Assistance Maîtrise d’Ouvrage par surveillance des points clés du projet, définition des modalités de validation des jalons, audit d’avancement et comptes rendus d’étape (phase EXE)</li>
        <li>Assistance à la recette et à la mise en service des installations</li>
        <li>Gestion et mise en œuvre de projets</li>
    </ul>
</section>

<section id="exploitation">
    <header class="major">
        <h2>Exploitation &amp; Mise en Service</h2>
    </header>
    <ul>
        <li>Améliorer la performance technique et organisationnelle d’une activité</li>
        <li>Répondre à des obligations légales ou réglementaires en termes de sécurité des équipements et installations</li>
        <li>Evaluer la période optimale de rénovation ou renouvellement des équipements et installations</li>
    </ul>
</section>
{% endif %}