{% if page.lang=="en" %}
<section id="strategy">
    <header class="major">
        <h2>STRATEGY</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
</section>

<section id="deployment-support" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>DEPLOYMENT SUPPORT</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
</section>

<section id="reception-support">
    <header class="major">
        <h2>RECEPTION SUPPORT</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
</section>

<section id="operation-support" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>OPERATION SUPPORT</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
</section>
{% elsif page.lang=="fr" %}
<section id="vos-besoins">
    <header class="major">
        <h2>Vos Besoins</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">Mettre en œuvre</a></li>
                <li><a href="#" class="button fit icon solid fa-recycle">Renouvellement des équipement</a></li>
                <li><a href="#" class="button fit icon solid">Organiser l’acquisition</a></li>
                <li><a href="#" class="button fit icon solid fa-stamp">Garantir les performances</a></li>
                <li><a href="#" class="button fit icon solid fa-chart">Améliorer la performance</a></li>
                <li><a href="#" class="button fit primary icon solid">Répondre à des obligations</a></li>
                <li><a href="#" class="button fit icon solid">Résoudre des dysfonctionnements</a></li>
            </ul>
        </div>
        <div class="col-6 col-12-small">
            <h2 style="position: relative; top: 30%;">Répondre à des obligations légales ou réglementaires<br>en termes de sécurité des équipements et installations</h2>
        </div>
    </div>
</section>
<section id="mes-competences" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>Mes Compétences</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <h2 style="position: relative; top: 30%;">Gestion de Projet<br>Assistance Maîtrise d’Ouvrage<br>Elaboration de Cahier des Charges<br>Spécifications de Besoins, essais et recette</h2>
        </div>
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">Diagnostic Stratégique</a></li>
                <li><a href="#" class="button fit icon solid">Diagnostic Technico-Economique</a></li>
                <li><a href="#" class="button fit icon solid">Gestion de Projet</a></li>
                <li><a href="#" class="button primary fit icon solid">Assistance Maîtrise d’Ouvrage</a></li>
                <li><a href="#" class="button fit icon solid fa-chart">Gestion des Risques</a></li>
                <li><a href="#" class="button fit icon solid">Audit de Performance</a></li>
                <li><a href="#" class="button fit icon solid">Diagnostic de défaillances</a></li>
            </ul>
        </div>
    </div>
</section>
{% endif %}
