<section id="{% if page.lang=='en' %}values{% elsif page.lang=='fr' %}valeurs{% endif %}" class="{{ include.class }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}MY VALUES{% elsif page.lang=="fr" %}Mes Valeurs{% endif %}</h2>
    </header>
    <p>CDM est pour moi une recherche personnelle :
        <ul>
            <li>indépendance professionnelle</li>
            <li>Envie d'agir, de faire en mettant à profit la construction méthodique de mes compétences</li>
            <li>Faire ce que personne ou peu savent faire</li>
            <li>Être confronté à la difficulté, résoudre des problèmes qui semblent insolubles, innover, créer</li>
            <li>Contribuer à la montée en compétences des acteurs des secteurs dans lesquels j’interviens</li>
            <li>Transmettre un savoir, un savoir faire, créer la curiosité et rendre progressivement autonomes mes clients</li>
            <li>Eduquer les individus au doute en commençant par le doute de soi même</li>
            <li>Approcher la vie de façon globale et scientifique</li>
            <li>La vision c'est la connaissance universelle au sens des grands scientifiques du siècle des lumières</li>
        </ul>
    </p>
</section>
