<section id='{% if page.lang=="en" %}worldmap{% elsif page.lang=="fr" %}mappemonde{% endif %}' style="{{ include.style | default: nil }}">
    {% if page.lang=="en" %}
    <header class="major">
        <h2>ACHIEVEMENTS</h2>
    </header>
    {% elsif page.lang=="fr" %}
    <header class="major">
        <h2>Réalisations Clefs</h2>
    </header>
    {% endif %}
    <iframe src="https://www.google.com/maps/d/embed?mid=1Z1HgcxrYLH-_WfLb-diCFy7QuGzeA7z7" width="100%" height="480"></iframe>
</section>