.w-container {
    max-width: none
}
.w-hidden-main,
.w-hidden-medium,
.w-hidden-small {
    display: inherit!important
}
.w-hidden-tiny {
    display: none!important
}
.w-col {
    width: 100%
}
.w-col-tiny-1 {
    width: 8.33333333%
}
.w-col-tiny-2 {
    width: 16.66666667%
}
.w-col-tiny-3 {
    width: 25%
}
.w-col-tiny-4 {
    width: 33.33333333%
}
.w-col-tiny-5 {
    width: 41.66666667%
}
.w-col-tiny-6 {
    width: 50%
}
.w-col-tiny-7 {
    width: 58.33333333%
}
.w-col-tiny-8 {
    width: 66.66666667%
}
.w-col-tiny-9 {
    width: 75%
}
.w-col-tiny-10 {
    width: 83.33333333%
}
.w-col-tiny-11 {
    width: 91.66666667%
}
.w-col-tiny-12 {
    width: 100%
}
.w-nav[data-collapse=tiny] .w-dropdown,
.w-nav[data-collapse=tiny] .w-dropdown-toggle {
    display: block
}
.w-nav[data-collapse=tiny] .w-dropdown-list {
    position: static
}
.w-nav[data-collapse=tiny] .w-nav-menu {
    display: none
}
.w-nav[data-collapse=tiny] .w-nav-button {
    display: block
}
.w-tab-link {
    display: block
}
body {
    padding: 10px
}
h2 {
    font-size: 26px;
    line-height: 29px
}
h3 {
    font-size: 19px;
    line-height: 28px
}
.container.hero-content-container {
    padding-top: 100px;
    padding-right: 20px;
    padding-left: 20px
}
.container.blog-post-container {
    margin-top: -460px
}
.hero-text-block {
    width: 260px
}
.hero-title {
    margin-bottom: 10px;
    font-size: 34px
}
.hero-title.text-slide-title {
    font-size: 40px;
    line-height: 55px
}
.hero-title.last {
    line-height: 40px
}
.hero-title.fullwidth {
    font-size: 24px;
    line-height: 45px
}
.hero-title.fullwidth.large {
    font-size: 80px;
    line-height: 65px
}
.hero-video {
    height: 450px
}
.navbar {
    top: 10px
}
.nav-menu {
    overflow: hidden;
    margin-top: -10px
}
.color-nav-link {
    padding-right: 15px;
    padding-left: 15px
}
.text-logo {
    display: none
}
.section {
    padding-top: 35px;
    padding-bottom: 35px
}
.section.with-video {
    padding-right: 25px;
    padding-left: 25px
}
.section.tint.blog-section {
    padding-bottom: 30px
}
.section.tint.blog-post-section {
    padding-right: 20px;
    padding-left: 20px
}
.section.gradient {
    padding-top: 45px;
    padding-bottom: 45px
}
.section.team-section {
    height: 180px
}
.main-section-title {
    font-size: 32px
}
.main-section-title.white {
    font-size: 26px;
    line-height: 35px
}
.slider-underline-title {
    height: 4px
}
.hero-lightbox-circle {
    right: 0;
    width: 60px;
    height: 60px;
    padding-top: 11px
}
.tab-button-title {
    font-size: 22px;
    line-height: 24px
}
.tab-image-wrapper {
    padding-top: 170px
}
.tab-item-title {
    font-size: 32px;
    line-height: 29px
}
.tab-item-title.subtitle {
    font-size: 19px;
    line-height: 26px
}
.tab-image {
    height: 180px
}
.tab-image-highlight {
    top: -15px;
    right: -26px;
    width: 100px;
    height: 100px;
    border-width: 5px
}
.tab-text-block {
    width: 270px;
    height: 240px;
    padding: 20px 20px 20px 30px
}
.tab-text-block._4 {
    height: 240px
}
.section-title-wrapper {
    width: 250px
}
.section-title-wrapper.dark {
    width: 260px
}
.video-lightbox {
    margin-bottom: 40px
}
.video-image-block-overlay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}
.video-overlay-title.subtitle {
    margin-bottom: 20px
}
.hero-logos-wrapper {
    margin-top: 30px;
    opacity: .41
}
.hero-logo {
    margin-top: 10px
}
.feature-block {
    margin-right: -15px;
    padding: 35px 25px
}
.nav-container,
.nav-link-block {
    padding-top: 10px;
    padding-bottom: 10px
}
.feature-block._2 {
    margin-top: 25px;
    margin-left: -15px
}
.feature-block._3 {
    margin-top: 25px
}
.slider-line-wrapper {
    width: 300px
}
.slider-line-wrapper.performances {
    width: 300px
}
.slider-line-wrapper.defaillances {
    width: 300px
}
.slider-line-wrapper.bris {
    width: 100px
}
.nav-link-block {
    display: block;
    padding-left: 30px
}
.nav-link-title {
    font-size: 11px
}
.section-square-color-block {
    top: -150px;
    width: 200px;
    height: 200px
}
.section-square-color-block.small {
    left: -125px;
    top: -60px;
    width: 130px;
    height: 130px
}
.section-square-color-block.video-block {
    right: -125px;
    width: 150px;
    height: 150px
}
.section-square-color-block.video-block._2 {
    top: -223px;
    width: 220px;
    height: 220px
}
.transparant-field.dark {
    height: 40px;
    margin-bottom: 7px
}
.button.cta-button.white {
    margin-right: 0
}
.button.mobile-fullwidth {
    display: block;
    margin-right: 0
}
.dropdown {
    top: 0;
    display: block
}
.dropdown-list.w--open {
    width: auto
}
.dropdown-link {
    padding-right: 0;
    padding-left: 25px
}
.copyright-text {
    width: 230px;
    font-size: 13px;
    line-height: 20px
}
.menu-button {
    margin-right: 10px
}
.popup-title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 26px
}
.popup-content-block-right {
    padding: 25px 30px
}
.subpage-header.no-image {
    height: 580px
}
.subpage-header.recent-post-header {
    height: 490px
}
.subpage-header.blog-post {
    height: 550px
}
.subpage-header.product-catalog {
    height: 560px
}
.subpage-header-overlay {
    padding: 95px 25px 35px
}
.subpage-header-overlay.light {
    padding-top: 30px
}
.subpage-header-overlay.light.mobile-push-down {
    padding-top: 80px
}
.subpage-header-overlay.product-catalog {
    padding-top: 70px
}
.subpage-title-wrapper {
    display: block;
    width: 240px;
    margin-right: auto;
    margin-left: auto;
    text-align: center
}
.subpage-title-wrapper.centered {
    width: 250px
}
.subpage-title-wrapper.wide-centered {
    width: 240px
}
.subpage-title-wrapper.responsive-small,
.subpage-title-wrapper.tablet-small {
    width: 250px
}
.subpage-title {
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 35px
}
.subpage-title.medium-title {
    font-size: 26px;
    line-height: 33px
}
.subpage-title.medium-title.auto-width {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 29px
}
.subpage-title.dark {
    font-size: 40px
}
.subpage-title.recent-post-title-link {
    font-size: 25px;
    line-height: 33px
}
.subpage-title-description {
    margin-top: 20px;
    font-size: 17px;
    line-height: 26px
}
.subpage-title-description.dark {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px
}
.subpage-header-buttons-wrapper {
    margin-top: 10px
}
.simple-features-block {
    padding-left: 0
}
.simple-features-block.with-shadow {
    height: auto;
    padding-left: 25px
}
.feature-block-icon {
    position: relative;
    top: 0;
    height: 50px;
    margin-bottom: 20px
}
.feature-block-icon.push-right {
    position: static;
    width: 45px;
    margin-bottom: 20px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}
.circles-graphic-wrapper {
    width: 260px;
    height: 470px
}
.circle-graphic {
    top: 50px
}
.circle-graphic._2 {
    left: 91px;
    top: 193px
}
.circle-graphic._3 {
    top: -95px;
    right: 98px
}
.circle-graphic._4 {
    top: -143px;
    right: -40px
}
.circle-graphic._5 {
    left: -41px;
    bottom: 117px
}
.circle-graphic._6 {
    left: 130px;
    bottom: -2px
}
.circle-graphic._7 {
    top: 28px;
    right: -31px;
    bottom: auto
}
.section-description {
    font-size: 20px;
    line-height: 28px
}
.large-feature-icon {
    height: 45px
}
.large-feature-text {
    font-size: 17px;
    line-height: 25px
}
.image-text-block,
.image-text-block.bottom-right {
    bottom: -10px;
    width: 230px
}
.image-text {
    font-size: 14px;
    line-height: 20px
}
.column-feature-block {
    padding-left: 60px
}
.header-lightbox-wrapper {
    right: 10px;
    height: 120px
}
._2-column-paragraph {
    -webkit-column-count: 1;
    column-count: 1
}
.floating-ipad {
    height: 140px
}
.floating-macbook {
    height: 190px
}
.column-right-push-down {
    padding-right: 0;
    padding-left: 0
}
.screenshot-image-block {
    right: 10px;
    bottom: 150px;
    width: 270px;
    height: 160px
}
.screenshot-image-block._2 {
    right: 0;
    width: 270px;
    height: 170px
}
.screenshots-wrapper.align-left {
    width: 250px;
    height: 240px
}
.small-header-title {
    font-size: 14px;
    line-height: 15px
}
.team-image-circle {
    margin-bottom: 20px
}
.team-text-wrapper {
    left: 0;
    width: 260px;
    padding: 21px
}
.contact-icon {
    margin-bottom: 15px
}
.contact-block-title.subtitle {
    margin-top: 10px;
    font-size: 15px
}
.post-overview-block {
    margin-bottom: 20px;
    padding-top: 155px
}
.post-overview-title-link {
    width: 95%;
    font-size: 22px;
    line-height: 26px
}
.post-overview-summary-block {
    height: 70px
}
.post-summary {
    font-size: 15px;
    line-height: 22px
}
.post-overview-image-link-block {
    height: 120px
}
.post-date-title {
    font-size: 14px;
    line-height: 15px
}
.blog-author-image.on-post-page {
    height: 60px
}
.dynamic-item-wrapper {
    padding-right: 25px;
    padding-bottom: 35px;
    padding-left: 25px;
    font-size: 15px;
    line-height: 23px
}
.dynamic-item-title {
    font-size: 25px;
    line-height: 33px
}
.blog-title-wrapper {
    margin-bottom: 40px
}
.text-column-left,
.text-column-right {
    padding-right: 0;
    padding-left: 0
}
.floating-devices-wrapper {
    width: 250px;
    height: 170px
}
.centered-section-title {
    font-size: 16px;
    line-height: 27px
}
.centered-section-title.large {
    margin-bottom: 10px;
    font-size: 20px
}
.centered-section-title-wrapper {
    width: 250px
}
.centered-title-logo {
    top: -3px;
    height: 21px;
    margin-right: 7px;
    margin-left: 7px
}