<section id="{% if page.lang=='en' %}profile{% elsif page.lang=='fr' %}profil{% endif %}" class="{{ include.class }}">
    <div class="row gtr-200">
        <div class="col-9 col-12-small">
            <header class="major">
                <h2>{% if page.lang=="en" %}ABOUT ME{% elsif page.lang=="fr" %}&Agrave; PROPOS{% endif %}</h2>
            </header>
            {% if page.lang=="en" %}
            <p><strong>Ingénieur Conseil</strong>, je suis spécialisé en <strong>Gestion des Risques</strong> et <strong>Efficience Industrielle</strong> ; par ailleurs je suis <strong>Expert Indépendant</strong>.</p>
            <p>Le Conseil prend forme à travers <strong>trois types de missions orientées</strong> :<br />
                - l’Audit RAR (Ressources-Activités-Résultats)<br />
                - l’Assistance à projet<br />
                - la Sûreté de Fonctionnement, à destination des PME et des ETI.</p>
            <p>Une diversité, une complémentarité et une cohérence de compétences de bout en bout issues de 40 ans d’expérience dans six domaines technologiques différents associée à une formation progressive depuis l’Ecole des Mousses / Marine à Bac+6 (Ingénieur, MBA, Droit, Risk Management) complétée par une formation juridique (Capacité en Droit, DU d’Expertise Judiciaire).</p>
            {% elsif page.lang=="fr" %}
            <p><strong>As an Engineering Consultant</strong>, I'm specialized in <strong>Risk Management</strong> and <strong>Industrial Efficiency</strong> ; I'm also an <strong>Independent Legal Expert</strong>.</p>
            <p>Le Conseil prend forme à travers <strong>trois types de missions orientées</strong> :<br />
                - l’Audit RAR (Ressources-Activités-Résultats)<br />
                - l’Assistance à projet<br />
                - la Sûreté de Fonctionnement, à destination des PME et des ETI.</p>
            <p>Une diversité, une complémentarité et une cohérence de compétences de bout en bout issues de 40 ans d’expérience dans six domaines technologiques différents associée à une formation progressive depuis l’Ecole des Mousses / Marine à Bac+6 (Ingénieur, MBA, Droit, Risk Management) complétée par une formation juridique (Capacité en Droit, DU d’Expertise Judiciaire).</p>
            {% endif %}
        </div>
        <div class="col-3 col-12-small">
            <span class="image fit">
                <img class="lazy-loading" src="{{ 'assets/images/placeholder/hero/portrait.webp' | absolute_url }}" data-src="{{ 'assets/images/content/hero/portrait.webp' | absolute_url }}" alt="" />
            </span>
        </div>
    </div>
</section>
