{%- assign facts = site.data.home.yang.situation[page.lang] -%}
<section id="{{ facts.id }}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{{ facts.title }}</h2>
    </header>
    <div class="facts row">
        {% if page.lang=="en" %}
        {% for fact in facts.facts %}
            {% include fact.html class="col-2 col-4-medium col-12-small" target_url=fact.target_url default=fact.default hover=fact.hover %}
        {% endfor %}
        <article class="col-2 col-4-medium col-12-small">
            <a href='{{ "/en/yang/your-situation#deployment" | absolute_url }}'>
                <div class="fact-intro on"><p>Deployment</p></div>
                <div class="fact on"><h3>?</h3></div>
                <div class="fact-outro on"><p>&nbsp;</p></div>
                <span class="icon solid fa-plane on"></span>
                <div class="fact-intro off"><p>Land</p></div>
                <div class="fact off"><h3>SAFELY</h3></div>
                <div class="fact-outro off"><p>on your feet</p></div>
                <span class="icon solid fa-plane-arrival off"></span>
            </a>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <a href='{{ "/en/yang/your-situation#reception" | absolute_url }}'>
                <div class="fact-intro on"><p>Reception</p></div>
                <div class="fact on"><h3>?</h3></div>
                <div class="fact-outro on"><p>&nbsp;</p></div>
                <span class="icon solid fa-box-open on"></span>
                <div class="fact-intro off"><p>Integrate</p></div>
                <div class="fact off"><h3>SMOOTHLY</h3></div>
                <div class="fact-outro off"><p>into your processes</p></div>
                <span class="icon solid fa-cubes off"></span>
            </a>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <a href='{{ "/en/yang/your-situation#operation" | absolute_url }}'>
                <div class="fact-intro on"><p>Operation</p></div>
                <div class="fact on"><h3>?</h3></div>
                <div class="fact-outro on"><p>&nbsp;</p></div>
                <span class="icon solid fa-play on"></span>
                <div class="fact-intro off"><p>Improve the</p></div>
                <div class="fact off"><h3>ROI</h3></div>
                <div class="fact-outro off"><p>of your units</p></div>
                <span class="icon solid fa-level-up-alt off"></span>
            </a>
        </article>
        {% elsif page.lang=="fr" %}
        <article class="col-2 col-4-medium col-12-small">
            <a href='{{ "/fr/yang/votre-situation#elaboration" | absolute_url }}'>
                <div class="fact-intro on"><p>&Eacute;laboration</p></div>
                <div class="fact on"><h3>?</h3></div>
                <div class="fact-outro on"><p>&nbsp;</p></div>
                <span class="icon solid fa-chess on"></span>
                <div class="fact-intro off"><p>Plan the</p></div>
                <div class="fact off"><h3>ROUTE</h3></div>
                <div class="fact-outro off"><p>to success</p></div>
                <span class="icon solid fa-project-diagram off"></span>
            </a>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <a href='{{ "/fr/yang/votre-situation#deploiment" | absolute_url }}'>
                <div class="fact-intro on"><p>Déploiement</p></div>
                <div class="fact on"><h3>?</h3></div>
                <div class="fact-outro on"><p>&nbsp;</p></div>
                <span class="icon solid fa-plane on"></span>
                <div class="fact-intro off"><p>Land</p></div>
                <div class="fact off"><h3>SAFELY</h3></div>
                <div class="fact-outro off"><p>on your feet</p></div>
                <span class="icon solid fa-plane-arrival off"></span>
            </a>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <a href='{{ "/fr/yang/votre-situation#reception" | absolute_url }}'>
                <div class="fact-intro on"><p>Réception</p></div>
                <div class="fact on"><h3>?</h3></div>
                <div class="fact-outro on"><p>&nbsp;</p></div>
                <span class="icon solid fa-box-open on"></span>
                <div class="fact-intro off"><p>Integrate</p></div>
                <div class="fact off"><h3>SMOOTHLY</h3></div>
                <div class="fact-outro off"><p>into your processes</p></div>
                <span class="icon solid fa-cubes off"></span>
            </a>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <a href='{{ "/fr/yang/votre-situation#exploitation" | absolute_url }}'>
                <div class="fact-intro on"><p>Exploitation</p></div>
                <div class="fact on"><h3>?</h3></div>
                <div class="fact-outro on"><p>&nbsp;</p></div>
                <span class="icon solid fa-play on"></span>
                <div class="fact-intro off"><p>Improve the</p></div>
                <div class="fact off"><h3>ROI</h3></div>
                <div class="fact-outro off"><p>of your units</p></div>
                <span class="icon solid fa-level-up-alt off"></span>
            </a>
        </article>
        {% endif %}
    </div>
</section>
