.w-hidden-main,
.w-hidden-medium {
    display: inherit!important
}
.w-hidden-small {
    display: none!important
}
.w-container .w-row,
.w-row {
    margin-left: 0;
    margin-right: 0
}
.w-col {
    width: 100%;
    left: auto;
    right: auto
}
.w-col-small-1 {
    width: 8.33333333%
}
.w-col-small-2 {
    width: 16.66666667%
}
.w-col-small-3 {
    width: 25%
}
.w-col-small-4 {
    width: 33.33333333%
}
.w-col-small-5 {
    width: 41.66666667%
}
.w-col-small-6 {
    width: 50%
}
.w-col-small-7 {
    width: 58.33333333%
}
.w-col-small-8 {
    width: 66.66666667%
}
.w-col-small-9 {
    width: 75%
}
.w-col-small-10 {
    width: 83.33333333%
}
.w-col-small-11 {
    width: 91.66666667%
}
.w-col-small-12 {
    width: 100%
}
.w-nav[data-collapse=small] .w-dropdown,
.w-nav[data-collapse=small] .w-dropdown-toggle {
    display: block
}
.w-nav[data-collapse=small] .w-dropdown-list {
    position: static
}
.w-nav-brand {
    padding-left: 10px
}
.w-lightbox-content {
    height: 96vh;
    margin-top: 2vh
}
.w-lightbox-view,
.w-lightbox-view:before {
    height: 96vh
}
.w-lightbox-group,
.w-lightbox-group .w-lightbox-view,
.w-lightbox-group .w-lightbox-view:before {
    height: 84vh
}
.w-lightbox-image {
    max-width: 96vw;
    max-height: 96vh
}
.w-lightbox-group .w-lightbox-image {
    max-width: 82.3vw;
    max-height: 84vh
}
.w-lightbox-left,
.w-lightbox-right {
    display: block;
    opacity: .5
}
.w-lightbox-close {
    opacity: .8
}
.w-lightbox-control:hover {
    opacity: 1
}
.w-nav[data-collapse=small] .w-nav-menu {
    display: none
}
.w-nav[data-collapse=small] .w-nav-button {
    display: block
}
.w-nav-brand {
    padding-left: 10px
}
body {
    padding: 15px
}
h2 {
    font-size: 27px;
    line-height: 32px
}
.container.hero-content-container {
    display: block;
    padding-top: 140px;
    padding-bottom: 0
}
.hero-text-block {
    width: 800px
}
.hero-title {
    font-size: 40px;
    line-height: 55px
}
.hero-title.text-slide-title {
    font-size: 60px;
    line-height: 85px
}
.hero-title.fullwidth.large {
    font-size: 120px
}
.hero-video {
    height: 500px
}
.logo {
    height: 30px
}
.nav-menu {
    margin-right: -20px
}
.color-nav-link {
    height: 40px;
    padding-top: 8px;
    padding-right: 18px;
    padding-left: 18px
}
.logo-block {
    padding-left: 20px
}
.text-logo {
    font-size: 18px;
    line-height: 25px
}
.hero-video-color-block {
    left: -360px;
    width: 500px;
    height: 500px
}
.hero-video-color-block._2 {
    left: -375px;
    width: 500px;
    height: 500px;
    -webkit-transform: rotate(-37deg);
    -ms-transform: rotate(-37deg);
    transform: rotate(-37deg)
}
.section {
    padding: 45px 25px
}
.section.dark {
    padding-top: 50px;
    padding-bottom: 210px
}
.section.with-video {
    padding-bottom: 50px
}
.section.feature-section {
    padding-top: 45px;
    padding-bottom: 45px
}
.section.feature-section.investors-large-section {
    padding-top: 35px;
    padding-bottom: 35px
}
.section.feature-section.first {
    padding-top: 25px
}
.section.with-circles {
    padding-bottom: 1px
}
.section.business-success {
    z-index: 201
}
.main-section-title {
    font-size: 35px;
    line-height: 35px
}
.main-section-title.white {
    font-size: 35px;
    line-height: 45px
}
.tabs-menu {
    width: 100%;
    float: none
}
.tab-pane {
    padding-top: 60px;
    padding-left: 0
}
.tab-button {
    display: block;
    width: auto;
    padding-top: 11px
}
.tab-button-title {
    width: auto
}
.tab-image {
    height: 270px
}
.tabs-content {
    width: 100%
}
.tab-text-block {
    left: -19px;
    height: 270px;
    padding: 35px
}
.section-title-wrapper {
    width: 400px;
    margin-bottom: 40px
}
.section-title-wrapper.dark {
    width: 440px;
    margin-bottom: 50px
}
.video-lightbox {
    margin-bottom: 60px
}
.video-lightbox-image-block {
    height: 289px
}
.video-text-wrapper {
    width: 220px;
    padding-left: 30px
}
.video-overlay-title {
    font-size: 31px;
    line-height: 35px
}
.video-overlay-title.subtitle {
    font-size: 14px;
    line-height: 25px
}
.hero-logo {
    height: 22px;
    margin-right: 20px
}
.feature-block {
    margin-right: -20px
}
.feature-block._2 {
    margin-top: 30px;
    margin-left: -20px
}
.feature-block._3 {
    margin-top: 30px
}
.slider-line-wrapper {
    width: 300px
}
.slider-line-wrapper.performances {
    width: 300px
}
.slider-line-wrapper.defaillances {
    width: 300px
}
.slider-line-wrapper.bris {
    width: 100px
}
.nav-link-block.footer-nav-link-block {
    display: block;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center
}
.scroll-down-arrow {
    position: absolute;
    right: 0;
    bottom: -116px;
    width: 70px;
    height: 70px;
    padding-top: 14px
}
.section-square-color-block.video-block {
    width: 200px;
    height: 200px
}
.section-square-color-block.video-block._2 {
    width: 330px;
    height: 330px
}
.section-square-color-block.video-square {
    top: NaNpx;
    right: -63px;
    bottom: -93px;
    width: 200px;
    height: 200px
}
.section-square-color-block.video-square-2 {
    left: 11px;
    top: 51px;
    width: 120px;
    height: 120px
}
.section-square-color-block.video-square-3 {
    top: -96px;
    width: 250px;
    height: 250px;
    border-radius: 60px
}
.features-form-column {
    width: 100%
}
.features-form-column.right {
    width: 100%;
    padding-top: 40px
}
.transparant-field {
    height: 50px;
    margin-bottom: 10px
}
.button.green.mobile-fullwidth,
.button.white.mobile-fullwidth {
    display: block;
    margin-right: 0
}
.button.cta-button.mobile-fullwidth {
    display: block;
    margin-bottom: 10px
}
.button.read-post {
    position: static;
    margin-right: 0;
    float: none
}
.button.pink.mobile-fullwidth {
    display: block;
    margin-right: 0
}
.hero-quick-links-wrapper {
    position: relative;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 25px;
    background-color: #fff
}
.hero-quick-links-wrapper.centered {
    margin-top: 40px;
    padding: 0;
    background-color: transparent
}
.hero-quick-link-block {
    display: block;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    margin-left: 0;
    padding-top: 30px
}
.hero-quick-link-block:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05)
}
.hero-quick-link-block._3 {
    margin-bottom: 0
}
.hero-quick-link-title.subtitle {
    width: 180px;
    font-size: 28px
}
.footer {
    padding: 45px 25px
}
.footer-link-block {
    width: 50px
}
.footer-links-wrapper {
    margin-top: 25px;
    margin-bottom: 25px
}
.menu-button {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    font-size: 25px
}
.popup {
    display: block;
    width: 90%
}
.popup-title {
    color: #fff;
    font-size: 38px;
    line-height: 36px
}
.field-column-left,
.field-column-right {
    padding-right: 0;
    padding-left: 0
}
.popup-content-block-right {
    width: 100%;
    margin-right: 0
}
.subpage-header.what {
    height: 550px
}
.subpage-header.users {
    height: auto
}
.subpage-header.brands,
.subpage-header.investors,
.subpage-header.retailers {
    height: 460px
}
.subpage-header.no-image.small {
    height: 380px
}
.subpage-header.recent-post-header {
    height: 570px
}
.subpage-header-overlay {
    padding: 130px 35px 45px
}
.feature-column-left,
.feature-column-right,
.simple-feature-column {
    padding-right: 0;
    padding-left: 0
}
.subpage-header-overlay.overflow {
    padding-top: 75px;
    padding-bottom: 0
}
.subpage-header-overlay.light {
    padding-top: 70px
}
.subpage-header-overlay.light.recent-post-overlay {
    padding-top: 0
}
.subpage-header-overlay.product-catalog {
    padding-top: 100px
}
.subpage-header-overlay.team-overlay {
    padding-top: 130px
}
.subpage-title-wrapper {
    display: block;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    text-align: center
}
.subpage-title-wrapper.centered {
    width: 460px
}
.subpage-title-wrapper.wide-centered {
    width: 420px
}
.subpage-title-wrapper.responsive-small {
    width: 400px
}
.subpage-title-wrapper.tablet-small {
    width: 420px
}
.subpage-title-description.dark.contact-text,
.subpage-title.medium-title {
    width: auto
}
.subpage-title {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 55px
}
.subpage-title.medium-title.auto-width {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 32px
}
.subpage-title.dark {
    font-size: 50px;
    line-height: 45px
}
.subpage-title.recent-post-title-link {
    font-size: 35px;
    line-height: 45px
}
.subpage-title-description {
    font-size: 19px;
    line-height: 30px
}
.team-wrapper {
    width: auto;
    height: auto;
    margin-top: 50px
}
.team-item {
    position: relative;
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0
}
.circles-graphic-wrapper,
.header-form-block,
.header-lightbox-wrapper,
.screenshots-wrapper.align-left {
    margin-right: auto;
    margin-left: auto
}
.team-item._2 {
    position: relative;
    left: 0;
    bottom: 0
}
.team-item._3 {
    position: relative;
    right: 0;
    bottom: 0
}
.team-item._4 {
    position: relative;
    left: 0;
    bottom: 0
}
.team-image,
.team-image.lu-feng,
.team-image.mika,
.team-image.natty-i {
    width: 180px;
    height: 180px
}
.subpage-header-buttons-wrapper {
    margin-top: 30px
}
.simple-features-row {
    display: block
}
.simple-features-block {
    margin-bottom: 30px
}
.simple-features-block.with-shadow,
.simple-features-block.with-shadow.last.mobile-push-down {
    margin-bottom: 20px
}
.circles-graphic-wrapper {
    display: block;
    width: 460px;
    margin-top: 10px
}
.circle-graphic {
    width: 160px;
    height: 160px;
    padding-top: 15px
}
.circle-graphic._2 {
    left: 132px
}
.circle-graphic._3 {
    width: 170px;
    height: 170px;
    padding-top: 19px
}
.circle-graphic._4 {
    top: -193px;
    width: 170px;
    height: 170px;
    padding-top: 20px
}
.circle-graphic._5 {
    left: 4px;
    bottom: 26px
}
.circle-graphic._6 {
    left: 233px;
    bottom: 28px;
    width: 160px;
    height: 170px;
    padding-top: 22px
}
.circle-graphic._7 {
    right: 59px;
    bottom: 235px;
    width: 170px;
    height: 170px;
    padding-top: 20px
}
.circle-graphic-title {
    font-size: 14px
}
.circle-graphic-title.subtitle {
    margin-top: 5px;
    font-size: 13px;
    line-height: 19px
}
.circle-graphic-inside,
.circle-graphic-inside._6 {
    width: 130px;
    height: 130px
}
.section-description {
    font-size: 27px;
    line-height: 35px
}
.feature-column-left {
    padding-top: 20px
}
.feature-column-right {
    padding-top: 30px
}
.large-feature-title {
    font-size: 30px
}
.large-feature-icon {
    height: 45px;
    margin-bottom: 20px
}
.large-feature-image-block {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 220px
}
.large-feature-image-block.right {
    top: 0;
    right: 0;
    width: 100%;
    height: 220px
}
.large-feature-image-block.right.digital-marketing,
.large-feature-image-block.right.merchandisers {
    height: 220px
}
.large-feature-image-block.digital-teams {
    top: 0;
    height: 220px
}
.large-feature-image-block.buyers,
.large-feature-image-block.catalog-team,
.large-feature-image-block.investors,
.large-feature-image-block.sales {
    height: 220px
}
.image-text-block {
    left: -10px;
    bottom: 30px;
    padding: 15px
}
.image-text-block.bottom-right {
    right: -10px;
    bottom: 30px
}
.header-form-block {
    display: block;
    width: 90%;
    padding: 30px
}
.column-feature-block {
    margin-top: 10px
}
.header-lightbox-wrapper {
    position: relative;
    top: -30px;
    right: 20px;
    display: block;
    height: 140px
}
.floating-ipad {
    left: -25px;
    top: auto;
    right: auto;
    bottom: 20px;
    height: 210px
}
.floating-macbook {
    top: -80px;
    right: -70px;
    height: 300px
}
.request-demo-column-link-block {
    margin-top: 40px
}
.screenshot-image-block {
    right: 20px;
    width: 400px;
    height: 280px
}
.screenshot-image-block._2 {
    right: 83px;
    bottom: 20px;
    width: 400px;
    height: 240px
}
.screenshots-wrapper.align-left {
    position: relative;
    left: 0;
    bottom: 0;
    display: block;
    width: 460px;
    height: 360px
}
.bottom-cta-row {
    display: block;
    margin-top: 50px
}
.bottom-cta-col-left {
    text-align: center
}
.bottom-cta-col-right {
    padding-top: 25px
}
.team-image-circle,
.team-image-circle._3,
.team-image-circle._4,
.team-image-circle._5 {
    width: 230px;
    height: 230px;
    padding: 25px
}
.team-image-social-wrapper {
    top: 30px;
    right: 45px
}
.team-block-name {
    width: 110px;
    font-size: 25px;
    line-height: 21px
}
.team-job-title {
    margin-top: 8px;
    font-size: 15px;
    line-height: 11px
}
.team-text-wrapper {
    left: 90px;
    top: 220px
}
.contact-row {
    display: block
}
.contact-column {
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0
}
.contact-column.last {
    padding-bottom: 0
}
.posts-list-wrapper {
    margin-top: -110px
}
.post-overview-block {
    height: auto;
    padding-top: 195px;
    padding-bottom: 25px;
    padding-left: 25px
}
.post-overview-image-link-block {
    width: 100%;
    height: 170px
}
.blog-author-block {
    margin-top: 10px
}
.blog-author-image {
    margin-right: 0;
    float: none
}
.dynamic-item-wrapper {
    padding-right: 35px;
    padding-bottom: 45px;
    padding-left: 35px
}
.dynamic-item-title {
    font-size: 28px;
    line-height: 35px
}
.element-wrapper {
    display: block
}
.mobile-video-section {
    position: relative;
    z-index: 100;
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: #fff
}
.floating-devices-wrapper {
    position: relative;
    display: block;
    width: 410px;
    height: 270px;
    margin-right: auto;
    margin-left: auto
}
.centered-section-title {
    font-size: 22px;
    line-height: 42px
}
.centered-section-title.large {
    font-size: 30px;
    line-height: 35px
}
.centered-section-title-wrapper {
    width: 420px
}