<section id="{% if page.lang=="en" %}context{% elsif page.lang=="fr" %}contexte{% endif %}"  class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>HAVING A PROBLEM ?</h2>
    </header>
    <div class="facts row">
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Under Performance</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-chart-area on"></span>
            <div class="fact-intro off"><p>Find out</p></div>
            <div class="fact off"><h3>WHY</h3></div>
            <div class="fact-outro off"><p>you're losing money!</p></div>
            <span class="icon solid fa-search-dollar off"></span>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Equipment Failure</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-car-crash on"></span>
            <div class="fact-intro off"><p>Get</p></div>
            <div class="fact off"><h3>BACK</h3></div>
            <div class="fact-outro off"><p>your money!</p></div>
            <span class="icon solid fa-money-bill-alt off"></span>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Disorder</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-exclamation-triangle on"></span>
            <div class="fact-intro off"><p>Go</p></div>
            <div class="fact off"><h3>THROUGH</h3></div>
            <div class="fact-outro off"><p>the crisis!</p></div>
            <span class="icon solid fa-route off"></span>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Litigation</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-gavel on"></span>
            <div class="fact-intro off"><p>Have a</p></div>
            <div class="fact off"><h3>FAIR</h3></div>
            <div class="fact-outro off"><p>trial!</p></div>
            <span class="icon solid fa-balance-scale off"></span>
        </article>
    </div>
</section>