<section id="{% if page.lang=='en' %}disorder{% elsif page.lang=='fr' %}desordre{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}DISORDER{% elsif page.lang=="fr" %}D&Eacute;SORDRE{% endif %}</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <div class="box">
                <p>Identifier les causes et les imputabilités, prendre des mesures conservatoires, sauver la situation</p>
            </div>
        </div>
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">Comment caractériser le désordre ?</a></li>
                <li><a href="#" class="button fit icon solid">Quel est l’impact technico-économique de la situation ?</a></li>
                <li><a href="#" class="button fit icon solid">Quels moyens pour limiter l’impact ?</a></li>
            </ul>
        </div>
    </div>
</section>
