<section id="{% if page.lang=='en' %}equipment-failure{% elsif page.lang=='fr' %}panne{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}EQUIPMENT FAILURE{% elsif page.lang=="fr" %}D&Eacute;FAILLANCE{% endif %}</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">Système à l’arrêt ou en mode dégradé</a></li>
                <li><a href="#" class="button fit icon solid">Recherche des causes premières et de solutions</a></li>
                <li><a href="#" class="button fit icon solid">Quel est l’impact technique, financier et économique actuel et futur ?</a></li>
            </ul>
        </div>
        <div class="col-6 col-12-small">
            <div class="box">
                <p>Résoudre durablement des défaillances</p>
            </div>
        </div>
    </div>
</section>
