<section id="{% if page.lang=='en' %}equipment-failure{% elsif page.lang=='fr' %}panne{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}EQUIPMENT FAILURE{% elsif page.lang=="fr" %}CASSE{% endif %}</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <div class="box">
                <p>?</p>
            </div>
        </div>
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">?</a></li>
                <li><a href="#" class="button fit icon solid">?</a></li>
            </ul>
        </div>
    </div>
</section>
