<section id="{% if page.lang=='en' %}summons{% elsif page.lang=='fr' %}assignation{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}SUMMONS{% elsif page.lang=="fr" %}ASSIGNATION{% endif %}</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <div class="box">
                <p>Vous avez besoin d'une assistance technique pour défendre vos intérêts.</p>
            </div>
        </div>
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">?</a></li>
                <li><a href="#" class="button fit icon solid">?</a></li>
            </ul>
        </div>
    </div>
</section>
