<section id="{% if page.lang=='en' %}targets{% elsif page.lang=='fr' %}cibles{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        {%- if page.lang=="en" -%}
        <h2>YOU ARE</h2>
        {%- elsif page.lang=="fr" -%}
        <h2>VOUS &Ecirc;TES</h2>
        {%- endif -%}
    </header>
    <div class="features">
        <article>
            <span class="icon solid fa-industry"></span>
            <div class="content">
                {%- if page.lang=="en" -%}
                <h3>A Firm</h3>
                <p></p>
                {%- elsif page.lang=="fr" -%}
                <h3>Une Entreprise</h3>
                <p></p>
                {%- endif -%}
            </div>
        </article>
        <article>
            <span class="icon solid fa-building"></span>
            <div class="content">
                {%- if page.lang=="en" -%}
                <h3>A Joint Owernship</h3>
                <p></p>
                {%- elsif page.lang=="fr" -%}
                <h3>Une Copropriété</h3>
                <p></p>
                {%- endif -%}
            </div>
        </article>
        <article>
            <span class="icon solid fa-user-injured"></span>
            <div class="content">
                {%- if page.lang=="en" -%}
                <h3>A Private Individual</h3>
                <p></p>
                {%- elsif page.lang=="fr" -%}
                <h3>Un Particulier</h3>
                <p></p>
                {%- endif -%}
            </div>
        </article>
        <article>
            <span class="icon solid fa-exclamation"></span>
            <div class="content">
                {%- if page.lang=="en" -%}
                <h3>Having a Problem!</h3>
                <p></p>
                {%- elsif page.lang=="fr" -%}
                <h3>En Difficulté !</h3>
                <p></p>
                {%- endif -%}
            </div>
        </article>
    </div>
</section>
