<section id="{% if page.lang=='en' %}under-performance{% elsif page.lang=='fr' %}sous-performance{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}UNDER PERFORMANCE{% elsif page.lang=="fr" %}SOUS PERFORMANCE{% endif %}</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <div class="box">
                <p>Désaccord sur les performances d’un système livré ou d’un litige technique avec un tiers.</p>
            </div>
        </div>
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">?</a></li>
                <li><a href="#" class="button fit icon solid">?</a></li>
            </ul>
        </div>
    </div>
</section>
