<section id="strategy">
    <header class="major">
        <h2>{% if page.lang=="en" %}UNDER PERFORMANCE{% elsif page.lang=="fr" %}SOUS PERFORMANCE{% endif %}</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
</section>

<section id="vos-besoins">
    <header class="major">
        <h2>Vos Besoins</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">Qualifier une situation litigieuse</a></li>
                <li><a href="#" class="button fit icon solid">Identifier des causes</a></li>
                <li><a href="#" class="button fit icon solid">Chiffrer un préjudice</a></li>
                <li><a href="#" class="button fit icon solid">Résoudre à l’amiable</a></li>
                <li><a href="#" class="button primary fit icon solid">Assistance technique</a></li>
            </ul>
        </div>
        <div class="col-6 col-12-small">
            <h2 style="position: relative; top: 30%;">Assistance technique dans le cadre d’un désaccord<br>sur les performances d’un système livré<br>ou d’un litige technique avec un tiers</h2>
        </div>
    </div>
</section>