{%- assign articles = site.achievements | where: "site", include.site | sample: 4 -%}
<section id="{% if page.lang=='en' %}achievements{% elsif page.lang=='fr' %}realisations-clefs{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}ACHIEVEMENTS{% elsif page.lang=="fr" %}R&Eacute;ALISATIONS CLEFS{% endif %}</h2>
    </header>
    <div class="posts">
    {%- for achievement in articles -%}
    	{%- assign title=achievement.title[page.lang] -%}
    	{%- assign content=achievement.summary[page.lang] -%}
        {% include post.html title=title content=content %}
    {%- endfor -%}
    </div>
</section>
