<section id="{% if page.lang=='en' %}certifications{% elsif page.lang=='fr' %}references{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}CERTIFICATIONS{% elsif page.lang=="fr" %}R&Eacute;F&Eacute;RENCES{% endif %}</h2>
    </header>
    <div class="features row">
        <article class="col-4 col-6-medium col-12-small">
            <span class="icon certs icon-ensemmono"></span>
            <div class="content">
                <h3>ENSEM</h3>
                <p>{% if page.lang=="en" %}Engineering Degree{% elsif page.lang=="fr" %}Diplôme d'Ingénieur{% endif %}</p>
            </div>
        </article>
        <article class="col-4 col-6-medium col-12-small">
            <span class="icon certs icon-eistimono"></span>
            <div class="content">
                <h3>EISTI</h3>
                {% if page.lang=="en" %}
                <p>Advanced Master's Degree in Risk Management for the Town and Country</p>
                {% elsif page.lang=="fr" %}
                <p>Mastère Spécialisé en Gestion des Risques sur les territoires</p>
                {% endif %}
            </div>
        </article>
        <article class="col-4 col-6-medium col-12-small">
            <span class="icon certs icon-ucamono"></span>
            <div class="content">
                <h3>UCA</h3>
                {% if page.lang=="en" %}
                <p>University Diploma in Legal Expertising</p>
                {% elsif page.lang=="fr" %}
                <p>Diplôme Universitaire en Expertise Judiciaire</p>
                {% endif %}
            </div>
        </article>
        <article class="col-4 col-6-medium col-12-small">
            <span class="icon certs icon-ifgmono"></span>
            <div class="content">
                <h3>IFG</h3>
                {% if page.lang=="en" %}
                <p>Master's Degree in Strategic Business Management</p>
                {% elsif page.lang=="fr" %}
                <p>MBA en Gestion et Management Stratégique d’Entreprise</p>
                {% endif %}
            </div>
        </article>
        <article class="col-4 col-6-medium col-12-small">
            <span class="icon certs icon-ubmono"></span>
            <div class="content">
                <h3>UB</h3>
                {% if page.lang=="en" %}
                <p>Legal Studies Deploma</p>
                {% elsif page.lang=="fr" %}
                <p>Capacité en droit</p>
                {% endif %}
            </div>
        </article>
        <article class="col-4 col-6-medium col-12-small">
            <span class="icon certs icon-cemafroidmono"></span>
            <div class="content">
                <h3>Cemafroid</h3>
                {% if page.lang=="en" %}
                <p>Certification of capacity to handle refrigerants, FGas</p>
                {% elsif page.lang=="fr" %}
                <p>Attestation de capacité FGas, "manipulateur de fluides frigorigènes"</p>
                {% endif %}
            </div>
        </article>
        <article class="col-4 col-6-medium col-12-small">
            <span class="icon certs icon-ciemono"></span>
            <div class="content">
                <h3>CIECAP</h3>
                {% if page.lang=="en" %}
                <p>Member of the "Compagnie des Ingénieurs Experts près de la Cour d'Appel de Paris"</p>
                {% elsif page.lang=="fr" %}
                <p>Membre de la Compagnie des Ingénieurs Experts près de la Cour d'Appel de Paris</p>
                {% endif %}
            </div>
        </article>
        <article class="col-4 col-6-medium col-12-small">
            <span class="icon certs icon-cneficbaremono"></span>
            <div class="content">
                <h3>CNEFIC</h3>
                {% if page.lang=="en" %}
                <p>Member of the "Compagnie Nationale des Experts de Justice Frigorifique Isolation Climatique"</p>
                {% elsif page.lang=="fr" %}
                <p>Membre de la Compagnie Nationale des Experts de Justice Frigorifique Isolation Climatique</p>
                {% endif %}
            </div>
        </article>
        <article class="col-4 col-6-medium col-12-small">
            <span class="icon certs icon-marinemono"></span>
            <div class="content">
                <h3>Marine Nationale</h3>
                {% if page.lang=="en" %}
                <p>Bachelor in Electronic Engineering<br/>Certificate of Specialization in Instrumentation<br/>Degree in Electricity, Electronics and Automation</p>
                {% elsif page.lang=="fr" %}
                <p>BS électrotechnique<br/>CS instrumention<br/>Licence &Eacute;lectricité, &Eacute;lectronique et Automatisme</p>
                {% endif %}
            </div>
        </article>
    </div>
</section>
