<section id="clients" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}THEY TRUST ME{% elsif page.lang=="fr" %}ILS ME FONT CONFIANCE{% endif %}</h2>
    </header>
    <div class="box alt">
        <div class="row gtr-50 gtr-uniform">
            <div class="col-1 col-3-medium col-6-small"><span class="image fit"><img class="lazy-loading" src="{{ '/assets/images/placeholder/clients/orano_icon.webp' | absolute_url }}" data-src="{{ '/assets/images/content/clients/orano_icon.webp' | absolute_url }}" title="Orano" alt="Orano" /></span></div>
            <div class="col-1 col-3-medium col-6-small"><span class="image fit"><img class="lazy-loading" src="{{ '/assets/images/placeholder/clients/mmp_icon.webp' | absolute_url }}" data-src="{{ '/assets/images/content/clients/mmp_icon.webp' | absolute_url }}" title="Mayr-Melnhof Packaging" alt="MMP" /></span></div>
            <div class="col-1 col-3-medium col-6-small"><span class="image fit"><img class="lazy-loading" src="{{ '/assets/images/placeholder/clients/sealed-air_icon.webp' | absolute_url }}" data-src="{{ '/assets/images/content/clients/sealed-air_icon.webp' | absolute_url }}" title="Sealed Air" alt="Sealed Air" /></span></div>
            <div class="col-1 col-3-medium col-6-small"><span class="image fit"><img class="lazy-loading" src="{{ '/assets/images/placeholder/clients/aed_icon.webp' | absolute_url }}" data-src="{{ '/assets/images/content/clients/aed_icon.webp' | absolute_url }}" title="Agri Energie Dondaine" alt="AED" /></span></div>
            <div class="col-1 col-3-medium col-6-small"><span class="image fit"><img class="lazy-loading" src="{{ '/assets/images/placeholder/clients/benning_icon.webp' | absolute_url }}" data-src="{{ '/assets/images/content/clients/benning_icon.webp' | absolute_url }}" title="Benning" alt="Benning" /></span></div>
            <div class="col-1 col-3-medium col-6-small"><span class="image fit"><img class="lazy-loading" src="{{ '/assets/images/placeholder/clients/ub_icon.webp' | absolute_url }}" data-src="{{ '/assets/images/content/clients/ub_icon.webp' | absolute_url }}" title="University of Burgundy" alt="UB" /></span></div>
            <div class="col-1 col-3-medium col-6-small"><span class="image fit"><img class="lazy-loading" src="{{ '/assets/images/placeholder/clients/ifag_text.webp' | absolute_url }}" data-src="{{ '/assets/images/content/clients/ifag_text.webp' | absolute_url }}" title="IFAG" alt="IFAG" /></span></div>
        </div>
    </div>
</section>
