.w-container {
    max-width: 728px
}
.w-hidden-main {
    display: inherit!important
}
.w-hidden-medium {
    display: none!important
}
.w-col-medium-1 {
    width: 8.33333333%
}
.w-col-medium-2 {
    width: 16.66666667%
}
.w-col-medium-3 {
    width: 25%
}
.w-col-medium-4 {
    width: 33.33333333%
}
.w-col-medium-5 {
    width: 41.66666667%
}
.w-col-medium-6 {
    width: 50%
}
.w-col-medium-7 {
    width: 58.33333333%
}
.w-col-medium-8 {
    width: 66.66666667%
}
.w-col-medium-9 {
    width: 75%
}
.w-col-medium-10 {
    width: 83.33333333%
}
.w-col-medium-11 {
    width: 91.66666667%
}
.w-col-medium-12 {
    width: 100%
}
.w-col-stack {
    width: 100%;
    left: auto;
    right: auto
}
.w-nav[data-collapse=medium] .w-dropdown,
.w-nav[data-collapse=medium] .w-dropdown-toggle {
    display: block
}
.w-nav[data-collapse=medium] .w-dropdown-list {
    position: static
}
.w-nav[data-collapse=medium] .w-nav-menu {
    display: none
}
.w-nav[data-collapse=medium] .w-nav-button {
    display: block
}
body {
    padding: 20px
}
.container.hero-content-container {
    padding-right: 35px;
    padding-left: 35px
}
.navbar {
    top: 20px
}
.hero-video-overlay {
    background-image: -webkit-linear-gradient(315deg, #012690, rgba(27, 174, 197, .7));
    background-image: linear-gradient(135deg, #012690, rgba(27, 174, 197, .7))
}
.nav-menu {
    position: absolute;
    width: 230px;
    margin-top: -19px;
    margin-right: -25px;
    margin-left: 50px;
    float: right;
    background-color: #fff;
    box-shadow: 0 0 70px 0 rgba(0, 0, 0, .5)
}
.color-nav-link {
    position: static;
    height: 50px;
    padding-top: 13px;
    padding-right: 30px;
    padding-left: 30px;
    float: right
}
.logo-block {
    top: 6px;
    margin-right: 0;
    padding-left: 30px
}
.section {
    padding: 90px 45px
}
.section.dark,
.section.with-video {
    padding-right: 35px;
    padding-left: 35px
}
.section.with-video {
    padding-bottom: 80px
}
.section.feature-section {
    padding-top: 90px;
    padding-bottom: 90px
}
.feature-block,
.section.tint.blog-section {
    padding-bottom: 40px
}
.section.team-section {
    height: 230px
}
.main-section-title {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px
}
.main-section-title.subtitle {
    font-size: 21px;
    line-height: 33px
}
.main-section-title.white {
    font-size: 45px;
    line-height: 45px
}
.tabs-menu {
    width: 220px
}
.tab-pane {
    padding-left: 30px
}
.tab-button,
.video-text-wrapper {
    padding-left: 50px
}
.tabs-content {
    width: 430px
}
.section-title-wrapper {
    width: 640px
}
.section-title-wrapper.dark {
    width: 620px
}
.video-lightbox-image-block {
    height: 319px
}
.feature-block {
    padding-top: 40px
}
.nav-link-block {
    display: block;
    margin-right: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 35px;
    color: #000;
    text-align: left
}
.nav-link-block:hover {
    color: #000
}
.nav-link-block.w--current,
.nav-link-block.w--open {
    color: #6bc4db
}
.nav-link-block.footer-nav-link-block {
    display: inline-block;
    padding-left: 0
}
.nav-link-line {
    display: none
}
.scroll-down-arrow {
    width: 50px;
    height: 50px;
    padding-top: 5px
}
.section-square-color-block {
    left: -160px;
    top: -200px;
    width: 300px;
    height: 300px
}
.section-square-color-block.small {
    left: -185px;
    width: 200px;
    height: 200px
}
.section-square-color-block.small.small-pink {
    left: -185px;
    top: -170px;
    width: 180px;
    height: 180px
}
.section-square-color-block.header-block-2 {
    width: 180px;
    height: 180px
}
.section-square-color-block.pink {
    left: -150px;
    top: -200px;
    width: 300px;
    height: 300px
}
.dropdown-list.w--open {
    background-color: #e4ecee
}
.dropdown-link {
    margin-top: 0;
    padding-left: 35px;
    border-bottom-width: 0;
    border-radius: 0;
    background-color: transparent;
    color: #000
}
.dropdown-link.w--current {
    padding-left: 35px;
    background-color: #1baec5;
    color: #fff
}
.hero-quick-links-wrapper {
    right: 30px
}
.hero-quick-link-block {
    width: 180px
}
.hero-quick-link-title.subtitle {
    width: 150px
}
.hero-quick-link-title.subtitle.small {
    font-size: 19px
}
.website-wrapper {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0
}
.nav-container {
    padding-top: 17px
}
.menu-button {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-left: 10px;
    padding: 8px 0 0;
    border-radius: 3px;
    background-color: #1f335f;
    font-size: 35px;
    text-align: center
}
.subpage-header.what {
    height: 660px
}
.subpage-header.recent-post-header {
    height: 600px
}
.subpage-header.blog-post {
    height: 630px
}
.subpage-header-overlay {
    padding-top: 60px;
    padding-right: 45px;
    padding-left: 45px
}
.subpage-header-overlay.light {
    padding-top: 70px
}
.subpage-header-overlay.light.recent-post-overlay {
    padding-top: 30px
}
.subpage-header-overlay.team-overlay {
    padding-top: 150px
}
.subpage-title-wrapper.wide-centered {
    width: 630px
}
.subpage-title-wrapper.responsive-small {
    width: 300px
}
.subpage-title-wrapper.tablet-small {
    width: 330px
}
.subpage-title.medium-title.dark-medium-title.tablet-auto-width,
.subpage-title.medium-title.half {
    width: auto
}
.subpage-title {
    font-size: 70px
}
.subpage-title.medium-title.auto-width {
    font-size: 32px;
    line-height: 36px
}
.subpage-title.recent-post-title-link {
    font-size: 55px
}
.team-wrapper {
    width: 640px;
    height: 750px
}
.circle-graphic,
.team-image,
.team-image.lu-feng {
    width: 220px;
    height: 220px
}
.team-item {
    margin-right: 10px;
    margin-left: 10px
}
.team-item._2 {
    left: -35px;
    bottom: -35px
}
.team-item._3 {
    right: -35px;
    bottom: -35px
}
.team-item._4 {
    left: 170px;
    bottom: 150px
}
.team-image {
    border-width: 10px
}
.subpage-header-buttons-wrapper {
    margin-top: 30px
}
.simple-features-block {
    padding-left: 80px
}
.simple-features-block.with-shadow {
    padding-right: 25px
}
.circles-graphic-wrapper {
    margin-top: -120px
}
.circle-graphic {
    padding-top: 32px
}
.circle-graphic._2 {
    left: 222px;
    top: 59px
}
.circle-graphic._3 {
    width: 240px;
    height: 250px;
    padding-top: 41px
}
.circle-graphic._4 {
    top: -223px;
    width: 230px;
    height: 230px;
    padding-top: 36px
}
.circle-graphic._5 {
    bottom: -76px
}
.circle-graphic._7 {
    right: -11px;
    bottom: 105px;
    width: 240px;
    height: 240px
}
.circle-graphic-inside {
    width: 160px;
    height: 160px
}
.section-description {
    font-size: 24px;
    line-height: 36px
}
.large-feature-icon {
    height: 65px
}
.large-feature-text {
    font-size: 18px;
    line-height: 26px
}
.large-feature-image-block {
    left: -80px;
    top: -20px;
    width: 380px;
    height: 380px
}
.large-feature-image-block.right {
    right: -60px;
    width: 350px
}
.large-feature-image-block.right.merchandisers {
    height: 500px
}
.large-feature-image-block.digital-teams {
    height: 510px
}
.large-feature-image-block.buyers {
    height: 490px
}
.large-feature-image-block.catalog-team {
    height: 340px
}
.image-text-block {
    left: 10px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 40px;
    font-size: 15px;
    line-height: 24px
}
.image-text-block.bottom-right {
    right: 0;
    width: 310px;
    padding-right: 40px;
    padding-left: 30px
}
.image-text {
    font-size: 17px;
    line-height: 23px
}
.header-form-block {
    width: 320px;
    padding: 25px
}
.header-form-title {
    font-size: 17px;
    line-height: 24px
}
.header-lightbox-wrapper {
    top: 153px;
    right: -60px
}
.floating-ipad {
    top: -275px;
    height: 300px
}
.floating-macbook {
    top: -430px;
    right: -230px;
    height: 420px
}
.column-right-push-down {
    padding-top: 30px
}
.screenshot-image-block {
    width: 440px;
    height: 310px
}
.screenshot-image-block._2 {
    bottom: -110px;
    width: 460px;
    height: 300px
}
.screenshots-wrapper.align-left {
    left: -255px;
    bottom: 106px
}
.small-header-title {
    margin-bottom: 15px
}
.team-image-circle {
    width: 290px;
    height: 290px;
    padding: 34px
}
.team-image-circle._4 {
    width: 280px;
    height: 280px;
    padding: 30px
}
.team-image-circle._5 {
    width: 290px;
    height: 290px;
    padding: 31px
}
.team-name-wrapper {
    left: -10px
}
.team-text-wrapper {
    left: 40px;
    top: 290px
}
.contact-icon {
    height: 50px
}
.contact-block-title {
    font-size: 22px
}
.contact-block-title.subtitle {
    font-size: 13px
}
.post-overview-block {
    padding-right: 25px;
    padding-left: 280px
}
.post-overview-title-link {
    font-size: 24px
}
.post-overview-image-link-block {
    width: 250px
}
.blog-author-image.on-post-page {
    margin-bottom: 20px
}
.dynamic-item-wrapper {
    width: 100%;
    padding-right: 70px;
    padding-left: 70px
}
.post-author-block {
    margin-top: 20px
}
.contact-social-button {
    padding-left: 6px
}
.contact-social-title {
    font-size: 14px
}
.contact-social-icon {
    left: 18px
}
.text-column-left {
    padding-right: 10px
}
.responsive-overlay {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}