<section id="{% if page.lang=='en' %}solving-failures{% elsif page.lang=='fr' %}resolution-des-defaillances{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}SOLVING EQUIPMENT FAILURES{% elsif page.lang=="fr" %}R&Eacute;SOLUTION DES D&Eacute;FAILLANCES{% endif %}</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <div class="box">
                <p>Traiter les causes plutôt que les effets et déployer une stratégie de défense en profondeur</p>
            </div>
        </div>
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">Caractérisation de la défaillance, de sa localisation et des effets</a></li>
                <li><a href="#" class="button fit icon solid">Détermination des causes premières, de leur imputabilité et plan d’action de résolution</a></li>
                <li><a href="#" class="button fit icon solid">Préconisations de solutions palliatives puis d’optimisation technico-économique FMDS</a></li>
            </ul>
        </div>
    </div>
</section>
