<section id="{% if page.lang=='en' %}hvac-engineering{% elsif page.lang=='fr' %}genie-climatique{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}HVAC ENGINEERING{% elsif page.lang=="fr" %}Génie Climatique et ENR{% endif %}</h2>
    </header>
    <div class="features row">
        <article class="col-4 col-6-medium col-12-small">
            <span class="icon solid fa-thermometer-half"></span>
            <div class="content">
                <h3>Pompes à Chaleur</h3>
                <p>?</p>
            </div>
        </article>
        <article class="col-4 col-6-medium col-12-small">
            <span class="icon solid fa-solar-panel"></span>
            <div class="content">
                <h3>Photovoltaïque</h3>
                <p>?</p>
            </div>
        </article>
        <article class="col-4 col-6-medium col-12-small">
            <span class="icon solid fa-trash-restore"></span>
            <div class="content">
                <h3>Usine de Méthanisation</h3>
                <p>?</p>
            </div>
        </article>
        <article class="col-4 col-6-medium col-12-small">
            <span class="icon solid fa-fire"></span>
            <div class="content">
                <h3>Chaudière à Bois et Granulés</h3>
                <p>?</p>
            </div>
        </article>
        <article class="col-4 col-6-medium col-12-small">
            <span class="icon solid fa-recycle"></span>
            <div class="content">
                <h3>Station de Traitement de l'Eau Potable</h3>
                <p>?</p>
            </div>
        </article>
    </div>
</section>
