<section id="{% if page.lang=='en' %}hvac-engineering{% elsif page.lang=='fr' %}genie-climatique{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}HVAC ENGINEERING{% elsif page.lang=="fr" %}G&Eacute;NIE CLIMATIQUE ET ENR{% endif %}</h2>
    </header>
    <div class="tileset row">
        {% include tile.html class="col-4 col-6-medium col-12-small" icon="solid fa-thermometer-half" title="Pompes à Chaleur"%}
        {% include tile.html class="col-4 col-6-medium col-12-small" icon="solid fa-solar-panel" title="Photovoltaïque"%}
        {% include tile.html class="col-4 col-6-medium col-12-small" icon="solid fa-trash-restore" title="Usine de Méthanisation"%}
        {% include tile.html class="col-4 col-6-medium col-12-small" icon="solid fa-fire" title="Chaudières à Bois et Granulés"%}
        {% include tile.html class="col-4 col-6-medium col-12-small" icon="solid fa-recycle" title="Géothermie"%}
        <article class="col-4 col-6-medium col-12-small"></article>
    </div>
</section>
