<section id="{% if page.lang=='en' %}industrial-processes{% elsif page.lang=='fr' %}procedes-industriels{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}INDUSTRIAL PROCESSES{% elsif page.lang=="fr" %}Procédés Industriels{% endif %}</h2>
    </header>
    <div class="tileset row">
        {% include tile.html class="col-3 col-6-medium col-12-small" icon="solid fa-box-open" title="Transformation des Cartons"%}
        {% include tile.html class="col-3 col-6-medium col-12-small" icon="solid fa-magnet" title="Transformation des Métaux"%}
        {% include tile.html class="col-3 col-6-medium col-12-small" icon="solid fa-wine-bottle" title="Transformation des Plastiques"%}
        {% include tile.html class="col-3 col-6-medium col-12-small" icon="solid fa-print" title="Impression Offset"%}
    </div>
</section>
