<section id="{% if page.lang=='en' %}litigation{% elsif page.lang=='fr' %}litige{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}PERFORMANCE{% elsif page.lang=="fr" %}PERFORMANCE{% endif %}</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <div class="box">
                <p>Argumenter factuellement votre réclamation et vous donner les moyens de soutenir vos prétentions</p>
            </div>
        </div>
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">Rapport d’expertise officieuse ou organisation d’opérations amiables et contradictoires</a></li>
                <li><a href="#" class="button fit icon solid">Chiffrage du dommage et des travaux de reprise des désordres</a></li>
                <li><a href="#" class="button fit icon solid">Assistance technique en phase judiciaire, apports soutenant la réclamation (causes, conséquences, imputabilité)</a></li>
            </ul>
        </div>
    </div>
</section>
