<section id="{% if page.lang=='en' %}performance{% elsif page.lang=='fr' %}performance{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}PERFORMANCE{% elsif page.lang=="fr" %}PERFORMANCE{% endif %}</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <div class="box">
                <p>Quantifier les performances et les processus de création de valeur</p>
            </div>
        </div>
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">Elaboration des performances initiales et critères dimensionnants, analyses TRS, TRG, TRE, LCC</a></li>
                <li><a href="#" class="button fit icon solid">Identification et quantification des causes techniques, humaines, organisationnelles</a></li>
                <li><a href="#" class="button fit icon solid">Accompagnement dans la mise en œuvre d’un plan d’action d’amélioration continue</a></li>
            </ul>
        </div>
    </div>
</section>
