{%- assign data = site.data.expertise["support-during-litigation"][page.lang] -%}
<section id="{{ data.id }}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{{ data.title }}</h2>
    </header>
    <blockquote>Argumenter factuellement votre réclamation et vous donner les moyens de soutenir vos prétentions</blockquote>
    {% include tabs.html id=data.id orientation=data.orientation headers-width=data.headers-width show-title="false" tabs=data.tabs %}
</section>
