<section id="{% if page.lang=='en' %}profile{% elsif page.lang=='fr' %}profil{% endif %}" class="{{ include.class }}">
    <div class="row gtr-200">
        <div class="col-9 col-12-small">
		    <header class="major">
		        <h2>{% if page.lang=="en" %}ABOUT ME{% elsif page.lang=="fr" %}&Agrave; PROPOS{% endif %}</h2>
		    </header>
		    <p><strong>Ingénieur conseil</strong>, je suis spécialisé en <strong>Gestion des Risques</strong> et <strong>Efficience Industrielle</strong> ; par ailleurs, je suis <strong>Expert Indépendant</strong>.</p>
		    <p>J’ai donc <strong>deux activités complémentaires</strong> : le Conseil et l’Expertise.</p>
		    <p>L’Expertise <strong>concerne tous les acteurs</strong> (PME, Tertiaire, Administration, Collectivités Territoriales, Particuliers) et selon le type de ceux-ci, des sujets associés, par exemple : défaillances, bris de machine, litiges…</p>
		    <p><strong>Les domaines couverts</strong> sont le génie climatique et thermique, les ENR, les énergies électrique (BT) et fluidiques, les procédés industriels liés à la transformation des métaux, du plastique, du papier et carton.</p>
		    <p>Une diversité, une complémentarité et une cohérence de compétences de bout en bout issues de 40 ans d’expérience dans six domaines technologiques différents associée à une formation progressive depuis l’Ecole des Mousses / Marine à Bac+6 (Ingénieur, MBA, Droit, Risk Management) complétée par une formation juridique (Capacité en Droit, DU d’Expertise Judiciaire).</p>
		</div>
        <div class="col-3 col-12-small">
		    <span class="image right"><img class="lazy-loading" src="{{ 'assets/images/placeholder/hero/portrait.webp' | absolute_url }}" data-src="{{ 'assets/images/content/hero/portrait.webp' | absolute_url }}" alt="" /></span>
		</div>
	</div>
</section>
