{% if page.lang=="en" %}
<section id="context" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>WHAT STAGE IS YOUR PROJECT ON ?</h2>
    </header>
    <div class="facts row">
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Strategy</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-chess on"></span>
            <div class="fact-intro off"><p>Plan the</p></div>
            <div class="fact off"><h3>ROUTE</h3></div>
            <div class="fact-outro off"><p>to success</p></div>
            <span class="icon solid fa-project-diagram off"></span>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Deployment</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-plane on"></span>
            <div class="fact-intro off"><p>Land</p></div>
            <div class="fact off"><h3>SAFELY</h3></div>
            <div class="fact-outro off"><p>on your feet</p></div>
            <span class="icon solid fa-plane-arrival off"></span>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Reception</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-box-open on"></span>
            <div class="fact-intro off"><p>Integrate</p></div>
            <div class="fact off"><h3>SMOOTHLY</h3></div>
            <div class="fact-outro off"><p>into your processes</p></div>
            <span class="icon solid fa-cubes off"></span>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Operation</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-play on"></span>
            <div class="fact-intro off"><p>Improve the</p></div>
            <div class="fact off"><h3>ROI</h3></div>
            <div class="fact-outro off"><p>of your units</p></div>
            <span class="icon solid fa-level-up-alt off"></span>
        </article>
    </div>
</section>
{% elsif page.lang=="fr" %}
<section id='contexte' class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>O&ugrave; en est Votre Projet ?</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon solid fa-chess"></span>
            <div class="content">
                <h3>Réflexion Stratégique</h3>
                <p>Avant-Projet Sommaire<br/>
                Evaluation technico-économique et prise de décision<br/>
                Consultation de prestataires</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-cubes"></span>
            <div class="content">
                <h3>Déploiement</h3>
                <p>Déploiement d'un projet<br/>
                Installation d’équipements<br/>
                Mise au point<br/>
                Mise en service</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-box-open"></span>
            <div class="content">
                <h3>Réception</h3>
                <p>Réception d’équipements<br/>
                Mise en production<br/>
                Ou mise en exploitation</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-route"></span>
            <div class="content">
                <h3>Exploitation</h3>
                <p>Exploitation courante<br/>
                Démantèlement</p>
            </div>
        </article>
    </div>
</section>
<section id='services' class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>Mes Services</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon solid fa-bullseye"></span>
            <div class="content">
                <h3>Efficience</h3>
                <p>Prévoir ou améliorer la performance court, moyen et long terme d’une entreprise, d’une activité, d’une fonction ou d’un projet</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-heartbeat"></span>
            <div class="content">
                <h3>Sûreté de Fonctionnement</h3>
                <p>Maîtriser le comportement prévisionnel ou opérationnel d’équipements et d’installation selon les axes FMDS ainsi que leurs coûts complets d’exploitation</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-shield-alt"></span>
            <div class="content">
                <h3>Gestion des Risques</h3>
                <p>Cartographier, réduire et gérer les risques d’une activité, d’un projet ou d’une entreprise et élaborer un plan de continuité d’activité</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-toolbox"></span>
            <div class="content">
                <h3>Maintenance</h3>
                <p>Organiser pour garantir la disponibilité des équipements et infrastructures</p>
            </div>
        </article>
    </div>
</section>
{% endif %}
