<section id="context" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>WHAT STAGE IS YOUR PROJECT ON ?</h2>
    </header>
    <div class="facts row">
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Strategy</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-chess on"></span>
            <div class="fact-intro off"><p>Plan the</p></div>
            <div class="fact off"><h3>ROUTE</h3></div>
            <div class="fact-outro off"><p>to success</p></div>
            <span class="icon solid fa-project-diagram off"></span>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Deployment</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-plane on"></span>
            <div class="fact-intro off"><p>Land</p></div>
            <div class="fact off"><h3>SAFELY</h3></div>
            <div class="fact-outro off"><p>on your feet</p></div>
            <span class="icon solid fa-plane-arrival off"></span>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Reception</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-box-open on"></span>
            <div class="fact-intro off"><p>Integrate</p></div>
            <div class="fact off"><h3>SMOOTHLY</h3></div>
            <div class="fact-outro off"><p>into your processes</p></div>
            <span class="icon solid fa-cubes off"></span>
        </article>
        <article class="col-2 col-4-medium col-12-small">
            <div class="fact-intro on"><p>Operation</p></div>
            <div class="fact on"><h3>?</h3></div>
            <div class="fact-outro on"><p>&nbsp;</p></div>
            <span class="icon solid fa-play on"></span>
            <div class="fact-intro off"><p>Improve the</p></div>
            <div class="fact off"><h3>ROI</h3></div>
            <div class="fact-outro off"><p>of your units</p></div>
            <span class="icon solid fa-level-up-alt off"></span>
        </article>
    </div>
</section>
