<section id="{% if page.lang=='en' %}deployment{% elsif page.lang=='fr' %}deploiement{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}DEPLOYMENT{% elsif page.lang=="fr" %}D&Eacute;PLOIEMENT{% endif %}</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
    <article>
        <span class="icon solid fa-cubes"></span>
        <div class="content">
            <h3>Déploiement</h3>
            <p>Déploiement d'un projet<br/>
            Installation d’équipements<br/>
            Mise au point<br/>
            Mise en service</p>
        </div>
    </article>
</section>
