<section id="{% if page.lang=='en' %}deployment{% elsif page.lang=='fr' %}deploiement{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}DEPLOYMENT{% elsif page.lang=="fr" %}D&Eacute;PLOIEMENT{% endif %}</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <div class="box">
                <p>?</p>
            </div>
        </div>
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">Déploiement d'un projet</a></li>
                <li><a href="#" class="button fit icon solid">Installation d'équipement</a></li>
            </ul>
        </div>
    </div>
</section>
