<section id="{% if page.lang=='en' %}project{% elsif page.lang=='fr' %}projet{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}PROJECT{% elsif page.lang=="fr" %}PROJET{% endif %}</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <div class="box">
                <p>?</p>
            </div>
        </div>
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">Avant-Projet Sommaire</a></li>
                <li><a href="#" class="button fit icon solid">Evaluation technico-économique</a></li>
                <li><a href="#" class="button fit icon solid">Consultation de prestataires</a></li>
            </ul>
        </div>
    </div>
</section>
