<section id="{% if page.lang=='en' %}expert-assessment{% elsif page.lang=='fr' %}expertise{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}EXPERT ASSESSMENT{% elsif page.lang=="fr" %}EXPERTISE{% endif %}</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <div class="box">
                <p>Formaliser le bien-fondé d'une réclamation ou d'un litige.</p>
            </div>
        </div>
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">&Eacute;valuer le préjudice subi</a></li>
                <li><a href="#" class="button fit icon solid">&Eacute;tablir des preuves</a></li>
                <li><a href="#" class="button fit icon solid">Décrire les liens de causalité</a></li>
                <li><a href="#" class="button fit icon solid">&Eacute;laboration de Cahier des Charge</a></li>
            </ul>
        </div>
    </div>
</section>
