<section id="{% if page.lang=='en' %}mitigation{% elsif page.lang=='fr' %}mediation{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}MITIGATION{% elsif page.lang=="fr" %}M&Eacute;DIATION{% endif %}</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <div class="box">
                <p>Résoudre avec les parties prenantes les difficultés rencontrées dans le cadre d’un litige.</p>
            </div>
        </div>
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">?</a></li>
            </ul>
        </div>
    </div>
</section>
