<section id="{% if page.lang=='en' %}out-of-court-agreement{% elsif page.lang=='fr' %}resolution-amiable{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>{% if page.lang=="en" %}OUT-OF-COURT AGREEMENT{% elsif page.lang=="fr" %}R&Eacute;SOLUTION AMIABLE{% endif %}</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <div class="box">
                <p>Défendre votre point de vue, argumenter et chiffrer votre réclamation, combattre les arguments adverses.</p>
            </div>
        </div>
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">Accompagner dans la négociation</a></li>
                <li><a href="#" class="button fit icon solid">Protocole de résolution amiable</a></li>
                <li><a href="#" class="button fit icon solid">Suivre l’exécution du plan d’action</a></li>
            </ul>
        </div>
    </div>
</section>
