<section id="{% if page.lang=='en' %}out-of-court-agreement{% elsif page.lang=='fr' %}resolution-amiable{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>OUT-OF-COURT AGREEMENT</h2>
    </header>
    <p>Résoudre avec les parties prenantes les difficultés rencontrées dans le cadre d’un litige.</p>
    <p>Résoudre avec les parties prenantes les difficultés rencontrées dans le cadre d'un litige, fournir la base technique d'un protocole transactionnel.</p>
</section>
