<section id="{% if page.lang=='en' %}palliative-solutions{% elsif page.lang=='fr' %}solutions-palliatives{% endif %}" class="{{ include.class | default: nil }}">
    <header class="major">
        <h2>P{% if page.lang=="en" %}PALLIATIVE SOLUTIONS{% elsif page.lang=="fr" %}SOLUTIONS PALLIATIVES{% endif %}</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-small">
            <div class="box">
                <p>?</p>
            </div>
        </div>
        <div class="col-6 col-12-small">
            <ul class="actions stacked">
                <li><a href="#" class="button fit icon solid">Structuration et Pilotage de Projet</a></li>
            </ul>
        </div>
    </div>
</section>
